In [1]:
# import sys
# sys.path.append('/home/briedle/web-projects/finance')


# os.environ.setdefault('DJANGO_SETTINGS_MODULE', 'stock_visualizer_backend.settings')
# import environ

# env = environ.Env()
# # Reading .env file
# environ.Env.read_env()

# from django.conf import settings
# settings.configure(
#     DATABASES = {
#         'default': {
#             'ENGINE': 'django.db.backends.postgresql',
#             'NAME': 'financial',
#             'USER': 'briedle',
#             'PASSWORD': 'ben21788',
#             'HOST': 'localhost',  # Or your PostgreSQL server address
#             'PORT': '5432',
#         }
#     },
#     INSTALLED_APPS = [
#         'django.contrib.admin',
#         'django.contrib.auth',
#         'django.contrib.contenttypes',
#         'django.contrib.sessions',
#         'django.contrib.messages',
#         'django.contrib.staticfiles',
#         'corsheaders',
#         'stocks',
#         'storages',
#     ]
# )

from pysupport.utils import setup_django_env


setup_django_env('/home/briedle/web-projects/finance/stock_visualizer_backend')



# Attempt to import your Django models
try:
    from stocks.models import BaseStockData, MonthlyStockPriceData
    print("Models imported successfully!")
except ModuleNotFoundError as e:
    print("Failed to import models:", e)

# Your additional imports and code...



import requests
import pandas as pd
import numpy as np
import copy
import importlib
import os
import json
from IPython.display import display, JSON
import sqlalchemy
import pandas as pd
import datetime

# import yfinance as yf
# import pandas_datareader as pdr
import bs4 as bs
import psycopg2

# pyjsonviewer.view_data(json_data=response.json())
# import tkinter as tk
# import pyjsonviewer
# from pandas import json_normalize



# from flatten_json import flatten
from stocks.utils import parse_alpha_vantage as pav
import pandas as pd
import importlib

import pysupport.utils as pu

importlib.reload(pav)
importlib.reload(pu)
print(os.getenv("RAPIDAPI_KEY"))

api_key = "1c63ffa51amsh98ddb79fb2729e8p14b4fajsn657b83e58886"

Models imported successfully!
None

In [1]:
import os
import sys
import django
from typing import Optional

def setup_django_env(project_root: str, settings_module: Optional[str] = None) -> None:
    """
    Set up the Django environment for an interactive session, such as a Jupyter Notebook.

    Args:
        project_root (str): The absolute path to the Django project root directory.
        settings_module (Optional[str]): The settings module to use for Django. If not provided,
                                         it defaults to '<project_name>.settings'.

    Raises:
        ValueError: If the project_root does not exist or is not a directory.
        ImportError: If Django cannot be set up with the provided settings module.
    """
    if not os.path.isdir(project_root):
        raise ValueError(f"The specified project_root '{project_root}' is not a valid directory.")

    # Change the current working directory to the project root
    os.chdir(project_root)

    # Ensure the project root is in sys.path
    if project_root not in sys.path:
        sys.path.append(project_root)

    # Infer the settings module if not explicitly provided
    if settings_module is None:
        project_name = os.path.basename(project_root)
        settings_module = f'{project_name}.settings'

    # Set the Django settings module environment variable
    os.environ.setdefault('DJANGO_SETTINGS_MODULE', settings_module)

    # Initialize Django
    try:
        django.setup()
    except ImportError as e:
        raise ImportError(f"Failed to set up Django with settings module '{settings_module}': {e}")

In [2]:
project_root = "/home/briedle/web-projects/finance/stock_visualizer_backend"
setup_django_env(project_root)

In [1]:
import os

# Check if the models.py file exists in the expected directory
models_path = os.path.join('stock_visualizer_backend', 'models.py')
if os.path.isfile(models_path):
    print(f"Found models.py at {models_path}")
else:
    print(f"models.py not found at {models_path}")

# Try importing the models module explicitly by file path
import importlib.util
spec = importlib.util.spec_from_file_location("models", models_path)
models = importlib.util.module_from_spec(spec)
try:
    spec.loader.exec_module(models)
    print("Models imported successfully via explicit file path.")
except Exception as e:
    print(f"Failed to import models via explicit file path: {e}")

models.py not found at stock_visualizer_backend/models.py
Failed to import models via explicit file path: [Errno 2] No such file or directory: '/home/briedle/web-projects/finance/stock_visualizer_backend/models.py'

In [2]:
!pwd

/home/briedle/web-projects/finance

In [32]:
import os
import django

# Set up Django environment
os.chdir("/home/briedle/web-projects/finance/stock_visualizer_backend")

os.environ.setdefault("DJANGO_SETTINGS_MODULE", "stock_visualizer_backend.settings")
django.setup()

In [7]:
db_name = "financial"
db_user = "briedle"
db_password = "ben21788"
db_host = "localhost"
db_port = "5432"

In [8]:
try:
    con = psycopg2.connect(
        dbname=db_name,
        user=db_user,
        password=db_password,
        host=db_host,  # or your server IP
        port=db_port,  # default PostgreSQL port
    )
except psycopg2.Error as e:
    print("Unable to connect to the database")
    print(e)

cursor = con.cursor()

In [5]:
top_companies = [
    "AAPL",  # Apple Inc.
    "MSFT",  # Microsoft Corporation
    "AMZN",  # Amazon.com Inc.
    "GOOGL",  # Alphabet Inc. (Google)
    "GOOG",  # Alphabet Inc. (Google)
    "META",  # Meta Platforms, Inc. (Facebook)
    "TSLA",  # Tesla, Inc.
    "BRK.A",  # Berkshire Hathaway Inc.
    "BRK.B",  # Berkshire Hathaway Inc.
    "NVDA",  # NVIDIA Corporation
    "JPM",  # JPMorgan Chase & Co.
    "JNJ",  # Johnson & Johnson
    "V",  # Visa Inc.
    "PG",  # Procter & Gamble Company
    "UNH",  # UnitedHealth Group Incorporated
    "MA",  # Mastercard Incorporated
    "PYPL",  # PayPal Holdings, Inc.
    "DIS",  # The Walt Disney Company
    "BABA",  # Alibaba Group Holding Limited
    "HD",  # The Home Depot, Inc.
    "CMCSA",  # Comcast Corporation
    "BAC",  # Bank of America Corporation
    "INTC",  # Intel Corporation
    "T",  # AT&T Inc.
    "KO",  # The Coca-Cola Company
    "WMT",  # Walmart Inc.
    "NFLX",  # Netflix, Inc.
    "PFE",  # Pfizer Inc.
    "ADBE",  # Adobe Inc.
    "CRM",  # salesforce.com, inc.
    "NKE",  # NIKE, Inc.
    "XOM",  # Exxon Mobil Corporation
    "MRK",  # Merck & Co., Inc.
    "CSCO",  # Cisco Systems, Inc.
    "ABT",  # Abbott Laboratories
    "TMO",  # Thermo Fisher Scientific Inc.
    "VZ",  # Verizon Communications Inc.
    "PEP",  # PepsiCo, Inc.
    "ORCL",  # Oracle Corporation
    "NVS",  # Novartis AG
    "ABBV",  # AbbVie Inc.
    "DHR",  # Danaher Corporation
    "BMY",  # Bristol Myers Squibb Co.
    "PM",  # Philip Morris International Inc.
    "LLY",  # Eli Lilly and Company
    "AVGO",  # Broadcom Inc.
    "GE",  # General Electric Company
    "CVX",  # Chevron Corporation
    "ABB",  # ABB Ltd.
    "DOW",  # Dow Inc.
]

In [ ]:
parsed_data = []

In [ ]:
# top_companies[:5]


top_companies_copy = copy.deepcopy(top_companies)
for company in top_companies:
    try:
        data = parse_alpha_vantage.fetch_data(company, api_key=api_key)
        print(f"{company} data fetch succeeded")
        parsed_data.append(parse_alpha_vantage.parse_monthly_adjusted(data))
        print(f"{company} data parsing and appending succeeded")
        top_companies_copy.remove(company)
        print(f"{company} done and removed from list")
    except KeyError:
        print(f"{company} had problem")

top_companies = copy.deepcopy(top_companies_copy)

In [3]:
# company_prices = pd.concat(parsed_data)
# company_prices = company_prices.drop_duplicates(['symbol', 'date'])
# company_prices.to_csv('data/monthly_top50_company_prices.csv', index=False)
# company_prices

In [9]:
t = parse_alpha_vantage.fetch_data(
    top_companies[0],
    function="INCOME_STATEMENT",
    api_key=api_key,
)
t

{'symbol': 'AAPL',
 'annualReports': [{'fiscalDateEnding': '2023-09-30',
   'reportedCurrency': 'USD',
   'grossProfit': '169148000000',
   'totalRevenue': '379352000000',
   'costOfRevenue': '239069000000',
   'costofGoodsAndServicesSold': '214137000000',
   'operatingIncome': '114301000000',
   'sellingGeneralAndAdministrative': '24932000000',
   'researchAndDevelopment': '29915000000',
   'operatingExpenses': '54847000000',
   'investmentIncomeNet': '3750000000',
   'netInterestIncome': '-3933000000',
   'interestIncome': '183000000',
   'interestExpense': '3933000000',
   'nonInterestIncome': '383285000000',
   'otherNonOperatingIncome': '-382000000',
   'depreciation': '8500000000',
   'depreciationAndAmortization': '11519000000',
   'incomeBeforeTax': '113736000000',
   'incomeTaxExpense': '16741000000',
   'interestAndDebtExpense': '3933000000',
   'netIncomeFromContinuingOperations': '96995000000',
   'comprehensiveIncomeNetOfTax': '96652000000',
   'ebit': '117669000000',
   'ebitda': '125820000000',
   'netIncome': '96995000000'},
  {'fiscalDateEnding': '2022-09-30',
   'reportedCurrency': 'USD',
   'grossProfit': '170782000000',
   'totalRevenue': '391397000000',
   'costOfRevenue': '248640000000',
   'costofGoodsAndServicesSold': '223546000000',
   'operatingIncome': '119437000000',
   'sellingGeneralAndAdministrative': '25094000000',
   'researchAndDevelopment': '26251000000',
   'operatingExpenses': '51345000000',
   'investmentIncomeNet': '2825000000',
   'netInterestIncome': '-2931000000',
   'interestIncome': '106000000',
   'interestExpense': '2931000000',
   'nonInterestIncome': '394328000000',
   'otherNonOperatingIncome': '-228000000',
   'depreciation': '8700000000',
   'depreciationAndAmortization': '11104000000',
   'incomeBeforeTax': '119103000000',
   'incomeTaxExpense': '19300000000',
   'interestAndDebtExpense': '2931000000',
   'netIncomeFromContinuingOperations': '99803000000',
   'comprehensiveIncomeNetOfTax': '88531000000',
   'ebit': '122034000000',
   'ebitda': '130541000000',
   'netIncome': '99803000000'},
  {'fiscalDateEnding': '2021-09-30',
   'reportedCurrency': 'USD',
   'grossProfit': '152836000000',
   'totalRevenue': '363172000000',
   'costOfRevenue': '234954000000',
   'costofGoodsAndServicesSold': '212981000000',
   'operatingIncome': '108949000000',
   'sellingGeneralAndAdministrative': '21973000000',
   'researchAndDevelopment': '21914000000',
   'operatingExpenses': '43887000000',
   'investmentIncomeNet': '2843000000',
   'netInterestIncome': '-2645000000',
   'interestIncome': '2843000000',
   'interestExpense': '2645000000',
   'nonInterestIncome': '365817000000',
   'otherNonOperatingIncome': '60000000',
   'depreciation': '9500000000',
   'depreciationAndAmortization': '11284000000',
   'incomeBeforeTax': '109207000000',
   'incomeTaxExpense': '14527000000',
   'interestAndDebtExpense': '2645000000',
   'netIncomeFromContinuingOperations': '94680000000',
   'comprehensiveIncomeNetOfTax': '95249000000',
   'ebit': '111852000000',
   'ebitda': '120233000000',
   'netIncome': '94680000000'},
  {'fiscalDateEnding': '2020-09-30',
   'reportedCurrency': 'USD',
   'grossProfit': '104956000000',
   'totalRevenue': '271642000000',
   'costOfRevenue': '189475000000',
   'costofGoodsAndServicesSold': '169559000000',
   'operatingIncome': '66288000000',
   'sellingGeneralAndAdministrative': '19916000000',
   'researchAndDevelopment': '18752000000',
   'operatingExpenses': '38668000000',
   'investmentIncomeNet': '3763000000',
   'netInterestIncome': '-2873000000',
   'interestIncome': '3763000000',
   'interestExpense': '2873000000',
   'nonInterestIncome': '274515000000',
   'otherNonOperatingIncome': '-87000000',
   'depreciation': '9700000000',
   'depreciationAndAmortization': '11056000000',
   'incomeBeforeTax': '67091000000',
   'incomeTaxExpense': '9680000000',
   'interestAndDebtExpense': '2873000000',
   'netIncomeFromContinuingOperations': '57411000000',
   'comprehensiveIncomeNetOfTax': '57453000000',
   'ebit': '69964000000',
   'ebitda': '77344000000',
   'netIncome': '57411000000'},
  {'fiscalDateEnding': '2019-09-30',
   'reportedCurrency': 'USD',
   'grossProfit': '98392000000',
   'totalRevenue': '256598000000',
   'costOfRevenue': '180027000000',
   'costofGoodsAndServicesSold': '161782000000',
   'operatingIncome': '63930000000',
   'sellingGeneralAndAdministrative': '18245000000',
   'researchAndDevelopment': '16217000000',
   'operatingExpenses': '34462000000',
   'investmentIncomeNet': '4961000000',
   'netInterestIncome': '-3576000000',
   'interestIncome': '4961000000',
   'interestExpense': '3576000000',
   'nonInterestIncome': '260174000000',
   'otherNonOperatingIncome': '422000000',
   'depreciation': '11300000000',
   'depreciationAndAmortization': '12547000000',
   'incomeBeforeTax': '65737000000',
   'incomeTaxExpense': '10481000000',
   'interestAndDebtExpense': '3576000000',
   'netIncomeFromContinuingOperations': '55256000000',
   'comprehensiveIncomeNetOfTax': '58037000000',
   'ebit': '69313000000',
   'ebitda': '76477000000',
   'netIncome': '55256000000'},
  {'fiscalDateEnding': '2018-09-30',
   'reportedCurrency': 'USD',
   'grossProfit': '101839000000',
   'totalRevenue': '265595000000',
   'costOfRevenue': '163756000000',
   'costofGoodsAndServicesSold': '163756000000',
   'operatingIncome': '70898000000',
   'sellingGeneralAndAdministrative': '16705000000',
   'researchAndDevelopment': '14236000000',
   'operatingExpenses': '30941000000',
   'investmentIncomeNet': '5686000000',
   'netInterestIncome': '-3240000000',
   'interestIncome': '5686000000',
   'interestExpense': '3240000000',
   'nonInterestIncome': '265595000000',
   'otherNonOperatingIncome': '-441000000',
   'depreciation': '9300000000',
   'depreciationAndAmortization': '10903000000',
   'incomeBeforeTax': '72903000000',
   'incomeTaxExpense': '13372000000',
   'interestAndDebtExpense': '3240000000',
   'netIncomeFromContinuingOperations': '59531000000',
   'comprehensiveIncomeNetOfTax': '56505000000',
   'ebit': '76143000000',
   'ebitda': '81801000000',
   'netIncome': '59531000000'},
  {'fiscalDateEnding': '2017-09-30',
   'reportedCurrency': 'USD',
   'grossProfit': '88186000000',
   'totalRevenue': '229234000000',
   'costOfRevenue': '141048000000',
   'costofGoodsAndServicesSold': '141048000000',
   'operatingIncome': '61344000000',
   'sellingGeneralAndAdministrative': '15261000000',
   'researchAndDevelopment': '11581000000',
   'operatingExpenses': '26842000000',
   'investmentIncomeNet': '5201000000',
   'netInterestIncome': '-2323000000',
   'interestIncome': '5201000000',
   'interestExpense': '2323000000',
   'nonInterestIncome': '229234000000',
   'otherNonOperatingIncome': '-133000000',
   'depreciation': '8200000000',
   'depreciationAndAmortization': '1200000000',
   'incomeBeforeTax': '64089000000',
   'incomeTaxExpense': '15738000000',
   'interestAndDebtExpense': '2323000000',
   'netIncomeFromContinuingOperations': '48351000000',
   'comprehensiveIncomeNetOfTax': '47567000000',
   'ebit': '66412000000',
   'ebitda': '67612000000',
   'netIncome': '48351000000'},
  {'fiscalDateEnding': '2016-09-30',
   'reportedCurrency': 'USD',
   'grossProfit': '84263000000',
   'totalRevenue': '215639000000',
   'costOfRevenue': '131376000000',
   'costofGoodsAndServicesSold': '131376000000',
   'operatingIncome': '60024000000',
   'sellingGeneralAndAdministrative': '14194000000',
   'researchAndDevelopment': '10045000000',
   'operatingExpenses': '24239000000',
   'investmentIncomeNet': '3999000000',
   'netInterestIncome': '-1456000000',
   'interestIncome': '3999000000',
   'interestExpense': '1456000000',
   'nonInterestIncome': 'None',
   'otherNonOperatingIncome': '-1195000000',
   'depreciation': '8300000000',
   'depreciationAndAmortization': '8300000000',
   'incomeBeforeTax': '61372000000',
   'incomeTaxExpense': '15685000000',
   'interestAndDebtExpense': '1456000000',
   'netIncomeFromContinuingOperations': '45687000000',
   'comprehensiveIncomeNetOfTax': '46666000000',
   'ebit': '62828000000',
   'ebitda': '71128000000',
   'netIncome': '45687000000'},
  {'fiscalDateEnding': '2015-09-30',
   'reportedCurrency': 'USD',
   'grossProfit': '93626000000',
   'totalRevenue': '232982000000',
   'costOfRevenue': '163618000000',
   'costofGoodsAndServicesSold': '140089000000',
   'operatingIncome': '71230000000',
   'sellingGeneralAndAdministrative': '14329000000',
   'researchAndDevelopment': '8067000000',
   'operatingExpenses': '22396000000',
   'investmentIncomeNet': '2921000000',
   'netInterestIncome': '-733000000',
   'interestIncome': 'None',
   'interestExpense': '733000000',
   'nonInterestIncome': 'None',
   'otherNonOperatingIncome': '-903000000',
   'depreciation': 'None',
   'depreciationAndAmortization': '9200000000',
   'incomeBeforeTax': '72515000000',
   'incomeTaxExpense': '19121000000',
   'interestAndDebtExpense': '733000000',
   'netIncomeFromContinuingOperations': '53394000000',
   'comprehensiveIncomeNetOfTax': '51967000000',
   'ebit': '73248000000',
   'ebitda': '82448000000',
   'netIncome': '53394000000'},
  {'fiscalDateEnding': '2014-09-30',
   'reportedCurrency': 'USD',
   'grossProfit': '70537000000',
   'totalRevenue': '182411000000',
   'costOfRevenue': '131151000000',
   'costofGoodsAndServicesSold': '112258000000',
   'operatingIncome': '52503000000',
   'sellingGeneralAndAdministrative': '11993000000',
   'researchAndDevelopment': '6041000000',
   'operatingExpenses': '18034000000',
   'investmentIncomeNet': '1795000000',
   'netInterestIncome': '-384000000',
   'interestIncome': 'None',
   'interestExpense': '384000000',
   'nonInterestIncome': 'None',
   'otherNonOperatingIncome': '-431000000',
   'depreciation': 'None',
   'depreciationAndAmortization': '6900000000',
   'incomeBeforeTax': '53483000000',
   'incomeTaxExpense': '13973000000',
   'interestAndDebtExpense': '384000000',
   'netIncomeFromContinuingOperations': '39510000000',
   'comprehensiveIncomeNetOfTax': '41063000000',
   'ebit': '53867000000',
   'ebitda': '60767000000',
   'netIncome': '39510000000'},
  {'fiscalDateEnding': '2013-09-30',
   'reportedCurrency': 'USD',
   'grossProfit': '64304000000',
   'totalRevenue': '170774000000',
   'costOfRevenue': '123236000000',
   'costofGoodsAndServicesSold': '106606000000',
   'operatingIncome': '48999000000',
   'sellingGeneralAndAdministrative': '10830000000',
   'researchAndDevelopment': '4475000000',
   'operatingExpenses': '15305000000',
   'investmentIncomeNet': '1616000000',
   'netInterestIncome': '-136000000',
   'interestIncome': 'None',
   'interestExpense': '136000000',
   'nonInterestIncome': 'None',
   'otherNonOperatingIncome': '-324000000',
   'depreciation': 'None',
   'depreciationAndAmortization': '5800000000',
   'incomeBeforeTax': '50155000000',
   'incomeTaxExpense': '13118000000',
   'interestAndDebtExpense': '136000000',
   'netIncomeFromContinuingOperations': '37037000000',
   'comprehensiveIncomeNetOfTax': '36067000000',
   'ebit': '50291000000',
   'ebitda': '56091000000',
   'netIncome': '37037000000'},
  {'fiscalDateEnding': '2012-09-30',
   'reportedCurrency': 'USD',
   'grossProfit': '68662000000',
   'totalRevenue': '156508000000',
   'costOfRevenue': '100486000000',
   'costofGoodsAndServicesSold': '87846000000',
   'operatingIncome': '55241000000',
   'sellingGeneralAndAdministrative': '10040000000',
   'researchAndDevelopment': '3381000000',
   'operatingExpenses': '13421000000',
   'investmentIncomeNet': '1088000000',
   'netInterestIncome': '0',
   'interestIncome': 'None',
   'interestExpense': '0',
   'nonInterestIncome': 'None',
   'otherNonOperatingIncome': '-566000000',
   'depreciation': 'None',
   'depreciationAndAmortization': '2600000000',
   'incomeBeforeTax': '55763000000',
   'incomeTaxExpense': '14030000000',
   'interestAndDebtExpense': '0',
   'netIncomeFromContinuingOperations': '41733000000',
   'comprehensiveIncomeNetOfTax': '41789000000',
   'ebit': '55763000000',
   'ebitda': '58363000000',
   'netIncome': '41733000000'},
  {'fiscalDateEnding': '2011-09-30',
   'reportedCurrency': 'USD',
   'grossProfit': '43818000000',
   'totalRevenue': '108249000000',
   'costOfRevenue': '73630000000',
   'costofGoodsAndServicesSold': '64431000000',
   'operatingIncome': '33790000000',
   'sellingGeneralAndAdministrative': '7599000000',
   'researchAndDevelopment': '2429000000',
   'operatingExpenses': '10028000000',
   'investmentIncomeNet': '519000000',
   'netInterestIncome': '0',
   'interestIncome': 'None',
   'interestExpense': '0',
   'nonInterestIncome': 'None',
   'otherNonOperatingIncome': '-104000000',
   'depreciation': 'None',
   'depreciationAndAmortization': '1600000000',
   'incomeBeforeTax': '34205000000',
   'incomeTaxExpense': '8283000000',
   'interestAndDebtExpense': '0',
   'netIncomeFromContinuingOperations': '25922000000',
   'comprehensiveIncomeNetOfTax': '26411000000',
   'ebit': '34205000000',
   'ebitda': '35805000000',
   'netIncome': '25922000000'},
  {'fiscalDateEnding': '2010-09-30',
   'reportedCurrency': 'USD',
   'grossProfit': '25684000000',
   'totalRevenue': '65225000000',
   'costOfRevenue': '45873000000',
   'costofGoodsAndServicesSold': '39541000000',
   'operatingIncome': '18385000000',
   'sellingGeneralAndAdministrative': '5517000000',
   'researchAndDevelopment': '1782000000',
   'operatingExpenses': '7299000000',
   'investmentIncomeNet': 'None',
   'netInterestIncome': 'None',
   'interestIncome': 'None',
   'interestExpense': '155000000',
   'nonInterestIncome': 'None',
   'otherNonOperatingIncome': '155000000',
   'depreciation': 'None',
   'depreciationAndAmortization': '815000000',
   'incomeBeforeTax': '18540000000',
   'incomeTaxExpense': '4527000000',
   'interestAndDebtExpense': 'None',
   'netIncomeFromContinuingOperations': '14013000000',
   'comprehensiveIncomeNetOfTax': '13890000000',
   'ebit': '18385000000',
   'ebitda': '19200000000',
   'netIncome': '14013000000'},
  {'fiscalDateEnding': '2009-09-30',
   'reportedCurrency': 'USD',
   'grossProfit': '17222000000',
   'totalRevenue': '42905000000',
   'costOfRevenue': '29832000000',
   'costofGoodsAndServicesSold': '25683000000',
   'operatingIncome': '11740000000',
   'sellingGeneralAndAdministrative': '4149000000',
   'researchAndDevelopment': '1333000000',
   'operatingExpenses': '5482000000',
   'investmentIncomeNet': 'None',
   'netInterestIncome': 'None',
   'interestIncome': 'None',
   'interestExpense': '326000000',
   'nonInterestIncome': 'None',
   'otherNonOperatingIncome': '326000000',
   'depreciation': 'None',
   'depreciationAndAmortization': '606000000',
   'incomeBeforeTax': '12066000000',
   'incomeTaxExpense': '3831000000',
   'interestAndDebtExpense': 'None',
   'netIncomeFromContinuingOperations': '8235000000',
   'comprehensiveIncomeNetOfTax': '8321000000',
   'ebit': '11740000000',
   'ebitda': '12346000000',
   'netIncome': '8235000000'}],
 'quarterlyReports': [{'fiscalDateEnding': '2023-12-31',
   'reportedCurrency': 'USD',
   'grossProfit': '54855000000',
   'totalRevenue': '119575000000',
   'costOfRevenue': '71506000000',
   'costofGoodsAndServicesSold': '64720000000',
   'operatingIncome': '40373000000',
   'sellingGeneralAndAdministrative': '6786000000',
   'researchAndDevelopment': '7696000000',
   'operatingExpenses': '14482000000',
   'investmentIncomeNet': 'None',
   'netInterestIncome': 'None',
   'interestIncome': 'None',
   'interestExpense': 'None',
   'nonInterestIncome': '119575000000',
   'otherNonOperatingIncome': 'None',
   'depreciation': 'None',
   'depreciationAndAmortization': '2848000000',
   'incomeBeforeTax': '40323000000',
   'incomeTaxExpense': '6407000000',
   'interestAndDebtExpense': 'None',
   'netIncomeFromContinuingOperations': '33916000000',
   'comprehensiveIncomeNetOfTax': '35990000000',
   'ebit': '40373000000',
   'ebitda': '43221000000',
   'netIncome': '33916000000'},
  {'fiscalDateEnding': '2023-09-30',
   'reportedCurrency': 'USD',
   'grossProfit': '40427000000',
   'totalRevenue': '88496000000',
   'costOfRevenue': '55222000000',
   'costofGoodsAndServicesSold': '49071000000',
   'operatingIncome': '26969000000',
   'sellingGeneralAndAdministrative': '6151000000',
   'researchAndDevelopment': '7307000000',
   'operatingExpenses': '13458000000',
   'investmentIncomeNet': '984000000',
   'netInterestIncome': '-1002000000',
   'interestIncome': '18000000',
   'interestExpense': '1002000000',
   'nonInterestIncome': '89498000000',
   'otherNonOperatingIncome': '47000000',
   'depreciation': 'None',
   'depreciationAndAmortization': '2653000000',
   'incomeBeforeTax': '26998000000',
   'incomeTaxExpense': '4042000000',
   'interestAndDebtExpense': '1002000000',
   'netIncomeFromContinuingOperations': '22956000000',
   'comprehensiveIncomeNetOfTax': '23305000000',
   'ebit': '28000000000',
   'ebitda': '29622000000',
   'netIncome': '22956000000'},
  {'fiscalDateEnding': '2023-06-30',
   'reportedCurrency': 'USD',
   'grossProfit': '36413000000',
   'totalRevenue': '80799000000',
   'costOfRevenue': '51357000000',
   'costofGoodsAndServicesSold': '45384000000',
   'operatingIncome': '22998000000',
   'sellingGeneralAndAdministrative': '5973000000',
   'researchAndDevelopment': '7442000000',
   'operatingExpenses': '13415000000',
   'investmentIncomeNet': '980000000',
   'netInterestIncome': '-998000000',
   'interestIncome': '18000000',
   'interestExpense': '998000000',
   'nonInterestIncome': '81797000000',
   'otherNonOperatingIncome': '-247000000',
   'depreciation': 'None',
   'depreciationAndAmortization': '3052000000',
   'incomeBeforeTax': '22733000000',
   'incomeTaxExpense': '2852000000',
   'interestAndDebtExpense': '998000000',
   'netIncomeFromContinuingOperations': '19881000000',
   'comprehensiveIncomeNetOfTax': '19826000000',
   'ebit': '23731000000',
   'ebitda': '26050000000',
   'netIncome': '19881000000'},
  {'fiscalDateEnding': '2023-03-31',
   'reportedCurrency': 'USD',
   'grossProfit': '41976000000',
   'totalRevenue': '94836000000',
   'costOfRevenue': '52860000000',
   'costofGoodsAndServicesSold': '52860000000',
   'operatingIncome': '28318000000',
   'sellingGeneralAndAdministrative': '6201000000',
   'researchAndDevelopment': '7457000000',
   'operatingExpenses': '13658000000',
   'investmentIncomeNet': 'None',
   'netInterestIncome': '-12000000',
   'interestIncome': '12000000',
   'interestExpense': '930000000',
   'nonInterestIncome': 'None',
   'otherNonOperatingIncome': '76000000',
   'depreciation': 'None',
   'depreciationAndAmortization': '2898000000',
   'incomeBeforeTax': '28382000000',
   'incomeTaxExpense': '4222000000',
   'interestAndDebtExpense': 'None',
   'netIncomeFromContinuingOperations': '24160000000',
   'comprehensiveIncomeNetOfTax': '25326000000',
   'ebit': '29312000000',
   'ebitda': '31216000000',
   'netIncome': '24160000000'},
  {'fiscalDateEnding': '2022-12-31',
   'reportedCurrency': 'USD',
   'grossProfit': '50332000000',
   'totalRevenue': '116151000000',
   'costOfRevenue': '73429000000',
   'costofGoodsAndServicesSold': '66822000000',
   'operatingIncome': '36016000000',
   'sellingGeneralAndAdministrative': '6607000000',
   'researchAndDevelopment': '7709000000',
   'operatingExpenses': '14316000000',
   'investmentIncomeNet': '868000000',
   'netInterestIncome': '-1003000000',
   'interestIncome': '135000000',
   'interestExpense': '1003000000',
   'nonInterestIncome': '117154000000',
   'otherNonOperatingIncome': '-258000000',
   'depreciation': 'None',
   'depreciationAndAmortization': '2916000000',
   'incomeBeforeTax': '35623000000',
   'incomeTaxExpense': '5625000000',
   'interestAndDebtExpense': '1003000000',
   'netIncomeFromContinuingOperations': '29998000000',
   'comprehensiveIncomeNetOfTax': '28195000000',
   'ebit': '36626000000',
   'ebitda': '38932000000',
   'netIncome': '29998000000'},

In [14]:
print(json.dumps(t, indent=4))

{
    "symbol": "AAPL",
    "annualReports": [
        {
            "fiscalDateEnding": "2023-09-30",
            "reportedCurrency": "USD",
            "grossProfit": "169148000000",
            "totalRevenue": "379352000000",
            "costOfRevenue": "239069000000",
            "costofGoodsAndServicesSold": "214137000000",
            "operatingIncome": "114301000000",
            "sellingGeneralAndAdministrative": "24932000000",
            "researchAndDevelopment": "29915000000",
            "operatingExpenses": "54847000000",
            "investmentIncomeNet": "3750000000",
            "netInterestIncome": "-3933000000",
            "interestIncome": "183000000",
            "interestExpense": "3933000000",
            "nonInterestIncome": "383285000000",
            "otherNonOperatingIncome": "-382000000",
            "depreciation": "8500000000",
            "depreciationAndAmortization": "11519000000",
            "incomeBeforeTax": "113736000000",
            "incomeTaxExpense": "16741000000",
            "interestAndDebtExpense": "3933000000",
            "netIncomeFromContinuingOperations": "96995000000",
            "comprehensiveIncomeNetOfTax": "96652000000",
            "ebit": "117669000000",
            "ebitda": "125820000000",
            "netIncome": "96995000000"
        },
        {
            "fiscalDateEnding": "2022-09-30",
            "reportedCurrency": "USD",
            "grossProfit": "170782000000",
            "totalRevenue": "391397000000",
            "costOfRevenue": "248640000000",
            "costofGoodsAndServicesSold": "223546000000",
            "operatingIncome": "119437000000",
            "sellingGeneralAndAdministrative": "25094000000",
            "researchAndDevelopment": "26251000000",
            "operatingExpenses": "51345000000",
            "investmentIncomeNet": "2825000000",
            "netInterestIncome": "-2931000000",
            "interestIncome": "106000000",
            "interestExpense": "2931000000",
            "nonInterestIncome": "394328000000",
            "otherNonOperatingIncome": "-228000000",
            "depreciation": "8700000000",
            "depreciationAndAmortization": "11104000000",
            "incomeBeforeTax": "119103000000",
            "incomeTaxExpense": "19300000000",
            "interestAndDebtExpense": "2931000000",
            "netIncomeFromContinuingOperations": "99803000000",
            "comprehensiveIncomeNetOfTax": "88531000000",
            "ebit": "122034000000",
            "ebitda": "130541000000",
            "netIncome": "99803000000"
        },
        {
            "fiscalDateEnding": "2021-09-30",
            "reportedCurrency": "USD",
            "grossProfit": "152836000000",
            "totalRevenue": "363172000000",
            "costOfRevenue": "234954000000",
            "costofGoodsAndServicesSold": "212981000000",
            "operatingIncome": "108949000000",
            "sellingGeneralAndAdministrative": "21973000000",
            "researchAndDevelopment": "21914000000",
            "operatingExpenses": "43887000000",
            "investmentIncomeNet": "2843000000",
            "netInterestIncome": "-2645000000",
            "interestIncome": "2843000000",
            "interestExpense": "2645000000",
            "nonInterestIncome": "365817000000",
            "otherNonOperatingIncome": "60000000",
            "depreciation": "9500000000",
            "depreciationAndAmortization": "11284000000",
            "incomeBeforeTax": "109207000000",
            "incomeTaxExpense": "14527000000",
            "interestAndDebtExpense": "2645000000",
            "netIncomeFromContinuingOperations": "94680000000",
            "comprehensiveIncomeNetOfTax": "95249000000",
            "ebit": "111852000000",
            "ebitda": "120233000000",
            "netIncome": "94680000000"
        },
        {
            "fiscalDateEnding": "2020-09-30",
            "reportedCurrency": "USD",
            "grossProfit": "104956000000",
            "totalRevenue": "271642000000",
            "costOfRevenue": "189475000000",
            "costofGoodsAndServicesSold": "169559000000",
            "operatingIncome": "66288000000",
            "sellingGeneralAndAdministrative": "19916000000",
            "researchAndDevelopment": "18752000000",
            "operatingExpenses": "38668000000",
            "investmentIncomeNet": "3763000000",
            "netInterestIncome": "-2873000000",
            "interestIncome": "3763000000",
            "interestExpense": "2873000000",
            "nonInterestIncome": "274515000000",
            "otherNonOperatingIncome": "-87000000",
            "depreciation": "9700000000",
            "depreciationAndAmortization": "11056000000",
            "incomeBeforeTax": "67091000000",
            "incomeTaxExpense": "9680000000",
            "interestAndDebtExpense": "2873000000",
            "netIncomeFromContinuingOperations": "57411000000",
            "comprehensiveIncomeNetOfTax": "57453000000",
            "ebit": "69964000000",
            "ebitda": "77344000000",
            "netIncome": "57411000000"
        },
        {
            "fiscalDateEnding": "2019-09-30",
            "reportedCurrency": "USD",
            "grossProfit": "98392000000",
            "totalRevenue": "256598000000",
            "costOfRevenue": "180027000000",
            "costofGoodsAndServicesSold": "161782000000",
            "operatingIncome": "63930000000",
            "sellingGeneralAndAdministrative": "18245000000",
            "researchAndDevelopment": "16217000000",
            "operatingExpenses": "34462000000",
            "investmentIncomeNet": "4961000000",
            "netInterestIncome": "-3576000000",
            "interestIncome": "4961000000",
            "interestExpense": "3576000000",
            "nonInterestIncome": "260174000000",
            "otherNonOperatingIncome": "422000000",
            "depreciation": "11300000000",
            "depreciationAndAmortization": "12547000000",
            "incomeBeforeTax": "65737000000",
            "incomeTaxExpense": "10481000000",
            "interestAndDebtExpense": "3576000000",
            "netIncomeFromContinuingOperations": "55256000000",
            "comprehensiveIncomeNetOfTax": "58037000000",
            "ebit": "69313000000",
            "ebitda": "76477000000",
            "netIncome": "55256000000"
        },
        {
            "fiscalDateEnding": "2018-09-30",
            "reportedCurrency": "USD",
            "grossProfit": "101839000000",
            "totalRevenue": "265595000000",
            "costOfRevenue": "163756000000",
            "costofGoodsAndServicesSold": "163756000000",
            "operatingIncome": "70898000000",
            "sellingGeneralAndAdministrative": "16705000000",
            "researchAndDevelopment": "14236000000",
            "operatingExpenses": "30941000000",
            "investmentIncomeNet": "5686000000",
            "netInterestIncome": "-3240000000",
            "interestIncome": "5686000000",
            "interestExpense": "3240000000",
            "nonInterestIncome": "265595000000",
            "otherNonOperatingIncome": "-441000000",
            "depreciation": "9300000000",
            "depreciationAndAmortization": "10903000000",
            "incomeBeforeTax": "72903000000",
            "incomeTaxExpense": "13372000000",
            "interestAndDebtExpense": "3240000000",
            "netIncomeFromContinuingOperations": "59531000000",
            "comprehensiveIncomeNetOfTax": "56505000000",
            "ebit": "76143000000",
            "ebitda": "81801000000",
            "netIncome": "59531000000"
        },
        {
            "fiscalDateEnding": "2017-09-30",
            "reportedCurrency": "USD",
            "grossProfit": "88186000000",
            "totalRevenue": "229234000000",
            "costOfRevenue": "141048000000",
            "costofGoodsAndServicesSold": "141048000000",
            "operatingIncome": "61344000000",
            "sellingGeneralAndAdministrative": "15261000000",
            "researchAndDevelopment": "11581000000",
            "operatingExpenses": "26842000000",
            "investmentIncomeNet": "5201000000",
            "netInterestIncome": "-2323000000",
            "interestIncome": "5201000000",
            "interestExpense": "2323000000",
            "nonInterestIncome": "229234000000",
            "otherNonOperatingIncome": "-133000000",
            "depreciation": "8200000000",
            "depreciationAndAmortization": "1200000000",
            "incomeBeforeTax": "64089000000",
            "incomeTaxExpense": "15738000000",
            "interestAndDebtExpense": "2323000000",
            "netIncomeFromContinuingOperations": "48351000000",
            "comprehensiveIncomeNetOfTax": "47567000000",
            "ebit": "66412000000",
            "ebitda": "67612000000",
            "netIncome": "48351000000"
        },
        {
            "fiscalDateEnding": "2016-09-30",
            "reportedCurrency": "USD",
            "grossProfit": "84263000000",
            "totalRevenue": "215639000000",
            "costOfRevenue": "131376000000",
            "costofGoodsAndServicesSold": "131376000000",
            "operatingIncome": "60024000000",
            "sellingGeneralAndAdministrative": "14194000000",
            "researchAndDevelopment": "10045000000",
            "operatingExpenses": "24239000000",
            "investmentIncomeNet": "3999000000",
            "netInterestIncome": "-1456000000",
            "interestIncome": "3999000000",
            "interestExpense": "1456000000",
            "nonInterestIncome": "None",
            "otherNonOperatingIncome": "-1195000000",
            "depreciation": "8300000000",
            "depreciationAndAmortization": "8300000000",
            "incomeBeforeTax": "61372000000",
            "incomeTaxExpense": "15685000000",
            "interestAndDebtExpense": "1456000000",
            "netIncomeFromContinuingOperations": "45687000000",
            "comprehensiveIncomeNetOfTax": "46666000000",
            "ebit": "62828000000",
            "ebitda": "71128000000",
            "netIncome": "45687000000"
        },
        {
            "fiscalDateEnding": "2015-09-30",
            "reportedCurrency": "USD",
            "grossProfit": "93626000000",
            "totalRevenue": "232982000000",
            "costOfRevenue": "163618000000",
            "costofGoodsAndServicesSold": "140089000000",
            "operatingIncome": "71230000000",
            "sellingGeneralAndAdministrative": "14329000000",
            "researchAndDevelopment": "8067000000",
            "operatingExpenses": "22396000000",
            "investmentIncomeNet": "2921000000",
            "netInterestIncome": "-733000000",
            "interestIncome": "None",
            "interestExpense": "733000000",
            "nonInterestIncome": "None",
            "otherNonOperatingIncome": "-903000000",
            "depreciation": "None",
            "depreciationAndAmortization": "9200000000",
            "incomeBeforeTax": "72515000000",
            "incomeTaxExpense": "19121000000",
            "interestAndDebtExpense": "733000000",
            "netIncomeFromContinuingOperations": "53394000000",
            "comprehensiveIncomeNetOfTax": "51967000000",
            "ebit": "73248000000",
            "ebitda": "82448000000",
            "netIncome": "53394000000"
        },
        {
            "fiscalDateEnding": "2014-09-30",
            "reportedCurrency": "USD",
            "grossProfit": "70537000000",
            "totalRevenue": "182411000000",
            "costOfRevenue": "131151000000",
            "costofGoodsAndServicesSold": "112258000000",
            "operatingIncome": "52503000000",
            "sellingGeneralAndAdministrative": "11993000000",
            "researchAndDevelopment": "6041000000",
            "operatingExpenses": "18034000000",
            "investmentIncomeNet": "1795000000",
            "netInterestIncome": "-384000000",
            "interestIncome": "None",
            "interestExpense": "384000000",
            "nonInterestIncome": "None",
            "otherNonOperatingIncome": "-431000000",
            "depreciation": "None",
            "depreciationAndAmortization": "6900000000",
            "incomeBeforeTax": "53483000000",
            "incomeTaxExpense": "13973000000",
            "interestAndDebtExpense": "384000000",
            "netIncomeFromContinuingOperations": "39510000000",
            "comprehensiveIncomeNetOfTax": "41063000000",
            "ebit": "53867000000",
            "ebitda": "60767000000",
            "netIncome": "39510000000"
        },
        {
            "fiscalDateEnding": "2013-09-30",
            "reportedCurrency": "USD",
            "grossProfit": "64304000000",
            "totalRevenue": "170774000000",
            "costOfRevenue": "123236000000",
            "costofGoodsAndServicesSold": "106606000000",
            "operatingIncome": "48999000000",
            "sellingGeneralAndAdministrative": "10830000000",
            "researchAndDevelopment": "4475000000",
            "operatingExpenses": "15305000000",
            "investmentIncomeNet": "1616000000",
            "netInterestIncome": "-136000000",
            "interestIncome": "None",
            "interestExpense": "136000000",
            "nonInterestIncome": "None",
            "otherNonOperatingIncome": "-324000000",
            "depreciation": "None",
            "depreciationAndAmortization": "5800000000",
            "incomeBeforeTax": "50155000000",
            "incomeTaxExpense": "13118000000",
            "interestAndDebtExpense": "136000000",
            "netIncomeFromContinuingOperations": "37037000000",
            "comprehensiveIncomeNetOfTax": "36067000000",
            "ebit": "50291000000",
            "ebitda": "56091000000",
            "netIncome": "37037000000"
        },
        {
            "fiscalDateEnding": "2012-09-30",
            "reportedCurrency": "USD",
            "grossProfit": "68662000000",
            "totalRevenue": "156508000000",
            "costOfRevenue": "100486000000",
            "costofGoodsAndServicesSold": "87846000000",
            "operatingIncome": "55241000000",
            "sellingGeneralAndAdministrative": "10040000000",
            "researchAndDevelopment": "3381000000",
            "operatingExpenses": "13421000000",
            "investmentIncomeNet": "1088000000",
            "netInterestIncome": "0",
            "interestIncome": "None",
            "interestExpense": "0",
            "nonInterestIncome": "None",
            "otherNonOperatingIncome": "-566000000",
            "depreciation": "None",
            "depreciationAndAmortization": "2600000000",
            "incomeBeforeTax": "55763000000",
            "incomeTaxExpense": "14030000000",
            "interestAndDebtExpense": "0",
            "netIncomeFromContinuingOperations": "41733000000",
            "comprehensiveIncomeNetOfTax": "41789000000",
            "ebit": "55763000000",
            "ebitda": "58363000000",
            "netIncome": "41733000000"
        },
        {
            "fiscalDateEnding": "2011-09-30",
            "reportedCurrency": "USD",
            "grossProfit": "43818000000",
            "totalRevenue": "108249000000",
            "costOfRevenue": "73630000000",
            "costofGoodsAndServicesSold": "64431000000",
            "operatingIncome": "33790000000",
            "sellingGeneralAndAdministrative": "7599000000",
            "researchAndDevelopment": "2429000000",
            "operatingExpenses": "10028000000",
            "investmentIncomeNet": "519000000",
            "netInterestIncome": "0",
            "interestIncome": "None",
            "interestExpense": "0",
            "nonInterestIncome": "None",
            "otherNonOperatingIncome": "-104000000",
            "depreciation": "None",
            "depreciationAndAmortization": "1600000000",
            "incomeBeforeTax": "34205000000",
            "incomeTaxExpense": "8283000000",
            "interestAndDebtExpense": "0",
            "netIncomeFromContinuingOperations": "25922000000",
            "comprehensiveIncomeNetOfTax": "26411000000",
            "ebit": "34205000000",
            "ebitda": "35805000000",
            "netIncome": "25922000000"
        },
        {
            "fiscalDateEnding": "2010-09-30",
            "reportedCurrency": "USD",
            "grossProfit": "25684000000",
            "totalRevenue": "65225000000",
            "costOfRevenue": "45873000000",
            "costofGoodsAndServicesSold": "39541000000",
            "operatingIncome": "18385000000",
            "sellingGeneralAndAdministrative": "5517000000",
            "researchAndDevelopment": "1782000000",
            "operatingExpenses": "7299000000",
            "investmentIncomeNet": "None",
            "netInterestIncome": "None",
            "interestIncome": "None",
            "interestExpense": "155000000",
            "nonInterestIncome": "None",
            "otherNonOperatingIncome": "155000000",
            "depreciation": "None",
            "depreciationAndAmortization": "815000000",
            "incomeBeforeTax": "18540000000",
            "incomeTaxExpense": "4527000000",
            "interestAndDebtExpense": "None",
            "netIncomeFromContinuingOperations": "14013000000",
            "comprehensiveIncomeNetOfTax": "13890000000",
            "ebit": "18385000000",
            "ebitda": "19200000000",
            "netIncome": "14013000000"
        },
        {
            "fiscalDateEnding": "2009-09-30",
            "reportedCurrency": "USD",
            "grossProfit": "17222000000",
            "totalRevenue": "42905000000",
            "costOfRevenue": "29832000000",
            "costofGoodsAndServicesSold": "25683000000",
            "operatingIncome": "11740000000",
            "sellingGeneralAndAdministrative": "4149000000",
            "researchAndDevelopment": "1333000000",
            "operatingExpenses": "5482000000",
            "investmentIncomeNet": "None",
            "netInterestIncome": "None",
            "interestIncome": "None",
            "interestExpense": "326000000",
            "nonInterestIncome": "None",
            "otherNonOperatingIncome": "326000000",
            "depreciation": "None",
            "depreciationAndAmortization": "606000000",
            "incomeBeforeTax": "12066000000",
            "incomeTaxExpense": "3831000000",
            "interestAndDebtExpense": "None",
            "netIncomeFromContinuingOperations": "8235000000",
            "comprehensiveIncomeNetOfTax": "8321000000",
            "ebit": "11740000000",
            "ebitda": "12346000000",
            "netIncome": "8235000000"
        }
    ],
    "quarterlyReports": [
        {
            "fiscalDateEnding": "2023-12-31",
            "reportedCurrency": "USD",
            "grossProfit": "54855000000",
            "totalRevenue": "119575000000",
            "costOfRevenue": "71506000000",
            "costofGoodsAndServicesSold": "64720000000",
            "operatingIncome": "40373000000",
            "sellingGeneralAndAdministrative": "6786000000",
            "researchAndDevelopment": "7696000000",
            "operatingExpenses": "14482000000",
            "investmentIncomeNet": "None",
            "netInterestIncome": "None",
            "interestIncome": "None",
            "interestExpense": "None",
            "nonInterestIncome": "119575000000",
            "otherNonOperatingIncome": "None",
            "depreciation": "None",
            "depreciationAndAmortization": "2848000000",
            "incomeBeforeTax": "40323000000",
            "incomeTaxExpense": "6407000000",
            "interestAndDebtExpense": "None",
            "netIncomeFromContinuingOperations": "33916000000",
            "comprehensiveIncomeNetOfTax": "35990000000",
            "ebit": "40373000000",

In [ ]:
data

In [15]:
data = t.copy()

In [18]:
len(data)

data.keys()

dict_keys(['symbol', 'annualReports', 'quarterlyReports'])

In [19]:
ar = data["annualReports"][0]
ar.keys()

dict_keys(['fiscalDateEnding', 'reportedCurrency', 'grossProfit', 'totalRevenue', 'costOfRevenue', 'costofGoodsAndServicesSold', 'operatingIncome', 'sellingGeneralAndAdministrative', 'researchAndDevelopment', 'operatingExpenses', 'investmentIncomeNet', 'netInterestIncome', 'interestIncome', 'interestExpense', 'nonInterestIncome', 'otherNonOperatingIncome', 'depreciation', 'depreciationAndAmortization', 'incomeBeforeTax', 'incomeTaxExpense', 'interestAndDebtExpense', 'netIncomeFromContinuingOperations', 'comprehensiveIncomeNetOfTax', 'ebit', 'ebitda', 'netIncome'])

In [21]:
qr = data["quarterlyReports"][0]
print(qr.keys())

ar.keys() == qr.keys()

dict_keys(['fiscalDateEnding', 'reportedCurrency', 'grossProfit', 'totalRevenue', 'costOfRevenue', 'costofGoodsAndServicesSold', 'operatingIncome', 'sellingGeneralAndAdministrative', 'researchAndDevelopment', 'operatingExpenses', 'investmentIncomeNet', 'netInterestIncome', 'interestIncome', 'interestExpense', 'nonInterestIncome', 'otherNonOperatingIncome', 'depreciation', 'depreciationAndAmortization', 'incomeBeforeTax', 'incomeTaxExpense', 'interestAndDebtExpense', 'netIncomeFromContinuingOperations', 'comprehensiveIncomeNetOfTax', 'ebit', 'ebitda', 'netIncome'])

True

In [24]:
annual_report_data = data["annualReports"]
date_data = [x["fiscalDateEnding"] for x in annual_report_data]
gross_profit = [x["grossProfit"] for x in annual_report_data]
total_revenue = [x["totalRevenue"] for x in annual_report_data]
cost_of_revenue = [x["costOfRevenue"] for x in annual_report_data]
cogs = [x["costofGoodsAndServicesSold"] for x in annual_report_data]
operating_income = [x["operatingIncome"] for x in annual_report_data]
net_investment_income = [x["investmentIncomeNet"] for x in annual_report_data]
net_interest_income = [x["netInterestIncome"] for x in annual_report_data]
interest_income = [x["interestIncome"] for x in annual_report_data]
interest_expense = [x["interestExpense"] for x in annual_report_data]
non_interest_income = [x["nonInterestIncome"] for x in annual_report_data]
other_non_operating_income = [x["otherNonOperatingIncome"] for x in annual_report_data]
depreciation = [x["depreciation"] for x in annual_report_data]
depreciation_amortization = [
    x["depreciationAndAmortization"] for x in annual_report_data
]
income_before_tax = [x["incomeBeforeTax"] for x in annual_report_data]
income_tax_expense = [x["incomeTaxExpense"] for x in annual_report_data]
interest_and_debt_expense = [x["interestAndDebtExpense"] for x in annual_report_data]
net_income_from_continuing_operations = [
    x["netIncomeFromContinuingOperations"] for x in annual_report_data
]
comprensive_income = [x["comprehensiveIncomeNetOfTax"] for x in annual_report_data]
ebit = [x["ebit"] for x in annual_report_data]
ebitda = [x["ebitda"] for x in annual_report_data]
net_income = [x["netIncome"] for x in annual_report_data]

In [98]:
def parse_partial_income_statement(data, report_type: str):
    """
    Parses the income statement data and returns a dictionary containing various financial metrics.

    Args:
        data (dict): The income statement data.
        report_type (str): The type of report to parse. Must be either "annual" or "quarterly".

    Returns:
        dict: A dictionary containing the following financial metrics:
            - date_data: List of fiscal dates.
            - gross_profit: List of gross profit values.
            - total_revenue: List of total revenue values.
            - cost_of_revenue: List of cost of revenue values.
            - cogs: List of cost of goods and services sold values.
            - operating_income: List of operating income values.
            - net_investment_income: List of net investment income values.
            - net_interest_income: List of net interest income values.
            - interest_income: List of interest income values.
            - interest_expense: List of interest expense values.
            - non_interest_income: List of non-interest income values.
            - other_non_operating_income: List of other non-operating income values.
            - depreciation: List of depreciation values.
            - depreciation_amortization: List of depreciation and amortization values.
            - income_before_tax: List of income before tax values.
            - income_tax_expense: List of income tax expense values.
            - interest_and_debt_expense: List of interest and debt expense values.
            - net_income_from_continuing_operations: List of net income from continuing operations values.
            - comprensive_income: List of comprehensive income values.
            - ebit: List of EBIT (Earnings Before Interest and Taxes) values.
            - ebitda: List of EBITDA (Earnings Before Interest, Taxes, Depreciation, and Amortization) values.
            - net_income: List of net income values.

    Raises:
        ValueError: If the report_type is not "annual" or "quarterly".
    """

    if report_type == "annual":
        report_data = data["annualReports"]
    elif report_type == "quarterly":
        report_data = data["quarterlyReports"]
    else:
        raise ValueError('report_type must be either "annual" or "quarterly"')

    date = [x["fiscalDateEnding"] for x in report_data]
    gross_profit = [x["grossProfit"] for x in report_data]
    total_revenue = [x["totalRevenue"] for x in report_data]
    cost_of_revenue = [x["costOfRevenue"] for x in report_data]
    cogs = [x["costofGoodsAndServicesSold"] for x in report_data]
    operating_income = [x["operatingIncome"] for x in report_data]
    net_investment_income = [x["investmentIncomeNet"] for x in report_data]
    net_interest_income = [x["netInterestIncome"] for x in report_data]
    interest_income = [x["interestIncome"] for x in report_data]
    interest_expense = [x["interestExpense"] for x in report_data]
    non_interest_income = [x["nonInterestIncome"] for x in report_data]
    other_non_operating_income = [x["otherNonOperatingIncome"] for x in report_data]
    depreciation = [x["depreciation"] for x in report_data]
    depreciation_amortization = [x["depreciationAndAmortization"] for x in report_data]
    income_before_tax = [x["incomeBeforeTax"] for x in report_data]
    income_tax_expense = [x["incomeTaxExpense"] for x in report_data]
    interest_and_debt_expense = [x["interestAndDebtExpense"] for x in report_data]
    net_income_from_continuing_operations = [
        x["netIncomeFromContinuingOperations"] for x in report_data
    ]
    comprehensive_income = [x["comprehensiveIncomeNetOfTax"] for x in report_data]
    ebit = [x["ebit"] for x in report_data]
    ebitda = [x["ebitda"] for x in report_data]
    net_income = [x["netIncome"] for x in report_data]

    result = pd.DataFrame(
        {
            "symbol": data["symbol"],
            "report_type": report_type,
            "date": date,
            "gross_profit": gross_profit,
            "total_revenue": total_revenue,
            "cost_of_revenue": cost_of_revenue,
            "cogs": cogs,
            "operating_income": operating_income,
            "net_investment_income": net_investment_income,
            "net_interest_income": net_interest_income,
            "interest_income": interest_income,
            "interest_expense": interest_expense,
            "non_interest_income": non_interest_income,
            "other_non_operating_income": other_non_operating_income,
            "depreciation": depreciation,
            "depreciation_amortization": depreciation_amortization,
            "income_before_tax": income_before_tax,
            "income_tax_expense": income_tax_expense,
            "interest_and_debt_expense": interest_and_debt_expense,
            "net_income_from_continuing_operations": net_income_from_continuing_operations,
            "comprehensive_income": comprehensive_income,
            "ebit": ebit,
            "ebitda": ebitda,
            "net_income": net_income,
        }
    )

    def str_none_to_none(value):
        if value in ["None", "none", ""]:
            return None
        else:
            return value

    for col in result.columns:
        if col in ("symbol", "report_type"):
            result[col] = result[col].astype("str")
        elif col == "date":
            result[col] = pd.to_datetime(result[col])
        else:
            result[col] = result[col].apply(str_none_to_none)
            result[col] = result[col].astype("float")

    return result


def parse_income_statement(data):
    annual = parse_partial_income_statement(data, "annual")
    quarterly = parse_partial_income_statement(data, "quarterly")
    return pd.concat([annual, quarterly])

In [71]:
# def parse_partial_income_statement(data, report_type: str):
#     """
#     Parses the income statement data and returns a DataFrame containing various financial metrics.

#     Args:
#         data (dict): The income statement data.
#         report_type (str): The type of report to parse. Must be either "annual" or "quarterly".

#     Returns:
#         pd.DataFrame: A DataFrame containing financial metrics with appropriate data types.
#     """

#     if report_type not in ['annual', 'quarterly']:
#         raise ValueError('report_type must be either "annual" or "quarterly"')

#     report_data = data['annualReports'] if report_type == 'annual' else data['quarterlyReports']

#     # Initialize an empty dictionary to store the parsed data
#     parsed_data = {
#         'date': [],
#         'gross_profit': [],
#         'total_revenue': [],
#         'cost_of_revenue': [],
#         'cogs': [],
#         'operating_income': [],
#         'net_investment_income': [],
#         'net_interest_income': [],
#         'interest_income': [],
#         'interest_expense': [],
#         'non_interest_income': [],
#         'other_non_operating_income': [],
#         'depreciation': [],
#         'depreciation_amortization': [],
#         'income_before_tax': [],
#         'income_tax_expense': [],
#         'interest_and_debt_expense': [],
#         'net_income_from_continuing_operations': [],
#         'comprehensive_income': [],
#         'ebit': [],
#         'ebitda': [],
#         'net_income': [],
#     }

#     # Iterate over each report and parse the data, converting to appropriate data types
#     for item in report_data:
#         parsed_data['date'].append(datetime.datetime.strptime(item['fiscalDateEnding'], '%Y-%m-%d').date())
#         for key in parsed_data.keys():
#             if key != 'date':  # We've already handled date conversion
#                 value = item[key] if key in item and item[key] not in [None, 'None', ''] else None
#                 parsed_data[key].append(float(value) if value is not None else None)

#     # Create a DataFrame using the parsed data
#     result = pd.DataFrame({
#         'symbol': data['symbol'],
#         'report_type': report_type,
#         **parsed_data
#     })

#     return result

In [32]:
# data = parse_alpha_vantage.fetch_data(
#     top_companies[0],
#     function='INCOME_STATEMENT',
#     api_key=api_key,
# )


# annual_report_data = parse_income_statement(data, 'annual')
# quarterly_report_data = parse_income_statement(data, 'quarterly')

In [79]:
def single_pull_and_parse(
    company: str,
    fetch_function: str,
    parse_function,
    api_key: None | str = None,
):
    """
    Fetches data for a given company using the specified fetch function,
    parses the data using the specified parse function, and returns the parsed data.

    Args:
        company (str): The name of the company to fetch data for.
        fetch_function (str): The name of the fetch function to use for fetching data.
        parse_function (function): The function to use for parsing the fetched data.
        api_key (str, optional): The API key to use for fetching data. Defaults to None.

    Returns:
        The parsed data obtained from the fetch and parse operations.
        Returns None if there was a problem during the fetch or parse operations.
    """
    try:
        data = parse_alpha_vantage.fetch_data(
            company, function=fetch_function, api_key=api_key
        )
        parsed_data = parse_function(data)
        return parsed_data
    except KeyError:
        print(f"{company} had a problem")
        return None

In [80]:
def pull_and_parse(
    companies: list[str],
    fetch_function: str,
    parse_function,
    api_key: None | str = None,
):
    """
    Fetches and parses data for a list of companies.

    Args:
        companies (list[str]): A list of company names.
        fetch_function (str): The name of the function used to fetch data for a single company.
        parse_function: The function used to parse the fetched data.
        api_key (None | str, optional): An API key for accessing data. Defaults to None.

    Returns:
        tuple: A tuple containing two elements:
            - A pandas DataFrame containing the parsed data for all companies.
            - A list of companies that were not successfully parsed.

    """

    parsed_data = []
    companies_copy = copy.deepcopy(companies)

    for company in companies:
        parsed = single_pull_and_parse(
            company, fetch_function, parse_function, api_key=api_key
        )

        if parsed is not None:
            parsed_data.append(parsed)
            companies_copy.remove(company)
            print(f"{company} done and removed from list")

    return pd.concat(parsed_data), companies_copy

In [99]:
income_statement_data, failed_companies = pull_and_parse(
    top_companies[:2], "INCOME_STATEMENT", parse_income_statement, api_key=api_key
)

AAPL done and removed from list
MSFT done and removed from list

In [100]:
income_statement_data

,symbol,report_type,date,gross_profit,total_revenue,cost_of_revenue,cogs,operating_income,net_investment_income,net_interest_income,...,depreciation,depreciation_amortization,income_before_tax,income_tax_expense,interest_and_debt_expense,net_income_from_continuing_operations,comprehensive_income,ebit,ebitda,net_income
0,AAPL,annual,2023-09-30,1.691480e+11,3.793520e+11,2.390690e+11,2.141370e+11,1.143010e+11,3.750000e+09,-3.933000e+09,...,8.500000e+09,1.151900e+10,1.137360e+11,1.674100e+10,3.933000e+09,9.699500e+10,9.665200e+10,1.176690e+11,1.258200e+11,9.699500e+10
1,AAPL,annual,2022-09-30,1.707820e+11,3.913970e+11,2.486400e+11,2.235460e+11,1.194370e+11,2.825000e+09,-2.931000e+09,...,8.700000e+09,1.110400e+10,1.191030e+11,1.930000e+10,2.931000e+09,9.980300e+10,8.853100e+10,1.220340e+11,1.305410e+11,9.980300e+10
2,AAPL,annual,2021-09-30,1.528360e+11,3.631720e+11,2.349540e+11,2.129810e+11,1.089490e+11,2.843000e+09,-2.645000e+09,...,9.500000e+09,1.128400e+10,1.092070e+11,1.452700e+10,2.645000e+09,9.468000e+10,9.524900e+10,1.118520e+11,1.202330e+11,9.468000e+10
3,AAPL,annual,2020-09-30,1.049560e+11,2.716420e+11,1.894750e+11,1.695590e+11,6.628800e+10,3.763000e+09,-2.873000e+09,...,9.700000e+09,1.105600e+10,6.709100e+10,9.680000e+09,2.873000e+09,5.741100e+10,5.745300e+10,6.996400e+10,7.734400e+10,5.741100e+10
4,AAPL,annual,2019-09-30,9.839200e+10,2.565980e+11,1.800270e+11,1.617820e+11,6.393000e+10,4.961000e+09,-3.576000e+09,...,1.130000e+10,1.254700e+10,6.573700e+10,1.048100e+10,3.576000e+09,5.525600e+10,5.803700e+10,6.931300e+10,7.647700e+10,5.525600e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,MSFT,quarterly,2008-09-30,1.221300e+10,1.506100e+10,2.848000e+09,2.848000e+09,5.999000e+09,NaN,NaN,...,NaN,5.850000e+08,5.991000e+09,1.618000e+09,NaN,NaN,NaN,5.999000e+09,6.799000e+09,4.373000e+09
62,MSFT,quarterly,2008-06-30,1.297100e+10,1.583700e+10,2.866000e+09,2.866000e+09,5.684000e+09,NaN,NaN,...,NaN,6.080000e+08,5.968000e+09,1.671000e+09,NaN,NaN,NaN,5.617000e+09,6.225000e+09,4.297000e+09
63,MSFT,quarterly,2008-03-31,1.194000e+10,1.445400e+10,2.514000e+09,2.514000e+09,4.409000e+09,NaN,NaN,...,NaN,5.320000e+08,4.810000e+09,4.220000e+08,NaN,NaN,NaN,4.234000e+09,4.766000e+09,4.388000e+09
64,MSFT,quarterly,2007-12-31,1.282400e+10,1.636700e+10,3.543000e+09,3.543000e+09,6.481000e+09,NaN,NaN,...,NaN,4.810000e+08,6.820000e+09,2.113000e+09,NaN,NaN,NaN,6.348000e+09,6.829000e+09,4.707000e+09
65,MSFT,quarterly,2007-09-30,1.108700e+10,1.376200e+10,2.675000e+09,2.675000e+09,5.918000e+09,NaN,NaN,...,NaN,4.350000e+08,6.216000e+09,1.927000e+09,NaN,NaN,NaN,5.859000e+09,6.294000e+09,4.289000e+09

In [101]:
income_statement_data.dtypes

symbol                                           object
report_type                                      object
date                                     datetime64[ns]
gross_profit                                    float64
total_revenue                                   float64
cost_of_revenue                                 float64
cogs                                            float64
operating_income                                float64
net_investment_income                           float64
net_interest_income                             float64
interest_income                                 float64
interest_expense                                float64
non_interest_income                             float64
other_non_operating_income                      float64
depreciation                                    float64
depreciation_amortization                       float64
income_before_tax                               float64
income_tax_expense                              float64
interest_and_debt_expense                       float64
net_income_from_continuing_operations           float64
comprehensive_income                            float64
ebit                                            float64
ebitda                                          float64
net_income                                      float64
dtype: object

In [52]:
failed_companies

[]

In [42]:
# income_statement_data_list = []
# for company in top_companies[:7]:
#     single_income_statement_data = single_pull_and_parse(
#         company,
#         'INCOME_STATEMENT',
#         parse_income_statement,
#         api_key=api_key,
#     )
#     income_statement_data_list.append(single_income_statement_data)

AAPL data fetch succeeded
AAPL data parsing succeeded
MSFT data fetch succeeded
MSFT data parsing succeeded
AMZN data fetch succeeded
AMZN data parsing succeeded
GOOGL data fetch succeeded
GOOGL data parsing succeeded
GOOG data fetch succeeded
GOOG data parsing succeeded
Rate limit exceeded.  Waiting 60 seconds and trying again.
META data fetch succeeded
META data parsing succeeded
TSLA data fetch succeeded
TSLA data parsing succeeded

In [173]:
?django.setup

Signature: django.setup(set_prefix=True)
Docstring:
Configure the settings (this happens as a side effect of accessing the
first setting), configure logging and populate the app registry.
Set the thread-local urlresolvers script prefix if `set_prefix` is True.
File:      ~/.local/share/virtualenvs/finance-zPHMDCNI/lib/python3.11/site-packages/django/__init__.py
Type:      function

In [43]:
# income_statement_data = pd.concat(income_statement_data_list)
# income_statement_data.to_csv('data/income_statement_data.csv', index=False)

In [16]:
top_companies_copy = copy.deepcopy(top_companies)
for company in top_companies:
    try:
        data = parse_alpha_vantage.fetch_data(
            company, function="TIME_SERIES_MONTHLY_ADJUSTED", api_key=api_key
        )
        print(f"{company} data fetch succeeded")
        parsed_data.append(parse_alpha_vantage.parse_monthly_adjusted(data))
        print(f"{company} data parsing and appending succeeded")
        top_companies_copy.remove(company)
        print(f"{company} done and removed from list")
    except KeyError:
        print(f"{company} had problem")

top_companies = copy.deepcopy(top_companies_copy)

AAPL

In [ ]:
# company_prices = pd.concat(parsed_data)
# company_prices = company_prices.drop_duplicates(['symbol', 'date'])
# company_prices.to_csv('data/monthly_top50_company_prices.csv', index=False)
# company_prices

In [57]:
# Replace these with your details
username = "briedle"
hostname = "localhost"  # or your server IP address/hostname
database_name = "financial"

engine = sqlalchemy.create_engine(
    f"postgresql://{username}:{password}@{hostname}/{database_name}"
)
engine

income_statement_data.to_sql(
    "stocks_incomestatementdata", engine, if_exists="append", index=False
)

Engine(postgresql://briedle:***@localhost/financial)

DataError: (psycopg2.errors.InvalidTextRepresentation) invalid input syntax for type numeric: "None"
LINE 1: ...0000', '-1456000000', '3999000000', '1456000000', 'None', '-...
                                                             ^

[SQL: INSERT INTO stocks_incomestatementdata (symbol, report_type, date, gross_profit, total_revenue, cost_of_revenue, cogs, operating_income, net_investment_income, net_interest_income, interest_income, interest_expense, non_interest_income, other_non_ope ... 291768 characters truncated ... erations__461)s, %(ebit__461)s, %(ebitda__461)s, %(net_income__461)s, %(comprehensive_income__461)s)]
[parameters: {'report_type__0': 'annual', 'interest_and_debt_expense__0': '3933000000', 'interest_expense__0': '3933000000', 'net_interest_income__0': '-3933000000', 'date__0': '2023-09-30', 'net_income_from_continuing_operations__0': '96995000000', 'comprehensive_income__0': '96652000000', 'cogs__0': '214137000000', 'income_before_tax__0': '113736000000', 'total_revenue__0': '379352000000', 'interest_income__0': '183000000', 'gross_profit__0': '169148000000', 'net_investment_income__0': '3750000000', 'depreciation__0': '8500000000', 'cost_of_revenue__0': '239069000000', 'net_income__0': '96995000000', 'operating_income__0': '114301000000', 'ebitda__0': '125820000000', 'non_interest_income__0': '383285000000', 'ebit__0': '117669000000', 'income_tax_expense__0': '16741000000', 'depreciation_amortization__0': '11519000000', 'other_non_operating_income__0': '-382000000', 'symbol__0': 'AAPL', 'report_type__1': 'annual', 'interest_and_debt_expense__1': '2931000000', 'interest_expense__1': '2931000000', 'net_interest_income__1': '-2931000000', 'date__1': '2022-09-30', 'net_income_from_continuing_operations__1': '99803000000', 'comprehensive_income__1': '88531000000', 'cogs__1': '223546000000', 'income_before_tax__1': '119103000000', 'total_revenue__1': '391397000000', 'interest_income__1': '106000000', 'gross_profit__1': '170782000000', 'net_investment_income__1': '2825000000', 'depreciation__1': '8700000000', 'cost_of_revenue__1': '248640000000', 'net_income__1': '99803000000', 'operating_income__1': '119437000000', 'ebitda__1': '130541000000', 'non_interest_income__1': '394328000000', 'ebit__1': '122034000000', 'income_tax_expense__1': '19300000000', 'depreciation_amortization__1': '11104000000', 'other_non_operating_income__1': '-228000000', 'symbol__1': 'AAPL', 'report_type__2': 'annual', 'interest_and_debt_expense__2': '2645000000' ... 10988 parameters truncated ... 'other_non_operating_income__459': '3180000', 'symbol__459': 'TSLA', 'report_type__460': 'quarterly', 'interest_and_debt_expense__460': 'None', 'interest_expense__460': '464000', 'net_interest_income__460': 'None', 'date__460': '2010-06-30', 'net_income_from_continuing_operations__460': 'None', 'comprehensive_income__460': 'None', 'cogs__460': '22144000', 'income_before_tax__460': '-38508000', 'total_revenue__460': '28405000', 'interest_income__460': 'None', 'gross_profit__460': '6261000', 'net_investment_income__460': 'None', 'depreciation__460': 'None', 'cost_of_revenue__460': '22144000', 'net_income__460': '-38517000', 'operating_income__460': '-31362000', 'ebitda__460': '-28879000', 'non_interest_income__460': 'None', 'ebit__460': '-38044000', 'income_tax_expense__460': '9000', 'depreciation_amortization__460': '2483000', 'other_non_operating_income__460': '-6729000', 'symbol__460': 'TSLA', 'report_type__461': 'quarterly', 'interest_and_debt_expense__461': 'None', 'interest_expense__461': '230000', 'net_interest_income__461': 'None', 'date__461': '2010-03-31', 'net_income_from_continuing_operations__461': 'None', 'comprehensive_income__461': 'None', 'cogs__461': '16960000', 'income_before_tax__461': '-29401000', 'total_revenue__461': '20812000', 'interest_income__461': 'None', 'gross_profit__461': '3852000', 'net_investment_income__461': 'None', 'depreciation__461': 'None', 'cost_of_revenue__461': '16960000', 'net_income__461': '-29519000', 'operating_income__461': '-25998000', 'ebitda__461': '-23857000', 'non_interest_income__461': 'None', 'ebit__461': '-25998000', 'income_tax_expense__461': '118000', 'depreciation_amortization__461': '2141000', 'other_non_operating_income__461': 'None', 'symbol__461': 'TSLA'}]
(Background on this error at: https://sqlalche.me/e/20/9h9h)

In [84]:
income_statement_data

,symbol,report_type,date,gross_profit,total_revenue,cost_of_revenue,cogs,operating_income,net_investment_income,net_interest_income,...,depreciation,depreciation_amortization,income_before_tax,income_tax_expense,interest_and_debt_expense,net_income_from_continuing_operations,comprehensive_income,ebit,ebitda,net_income
0,AAPL,annual,2023-09-30,169148000000,379352000000,239069000000,214137000000,114301000000,3750000000,-3933000000,...,8500000000,11519000000,113736000000,16741000000,3933000000,96995000000,96652000000,117669000000,125820000000,96995000000
1,AAPL,annual,2022-09-30,170782000000,391397000000,248640000000,223546000000,119437000000,2825000000,-2931000000,...,8700000000,11104000000,119103000000,19300000000,2931000000,99803000000,88531000000,122034000000,130541000000,99803000000
2,AAPL,annual,2021-09-30,152836000000,363172000000,234954000000,212981000000,108949000000,2843000000,-2645000000,...,9500000000,11284000000,109207000000,14527000000,2645000000,94680000000,95249000000,111852000000,120233000000,94680000000
3,AAPL,annual,2020-09-30,104956000000,271642000000,189475000000,169559000000,66288000000,3763000000,-2873000000,...,9700000000,11056000000,67091000000,9680000000,2873000000,57411000000,57453000000,69964000000,77344000000,57411000000
4,AAPL,annual,2019-09-30,98392000000,256598000000,180027000000,161782000000,63930000000,4961000000,-3576000000,...,11300000000,12547000000,65737000000,10481000000,3576000000,55256000000,58037000000,69313000000,76477000000,55256000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,MSFT,quarterly,2008-09-30,12213000000,15061000000,2848000000,2848000000,5999000000,None,None,...,None,585000000,5991000000,1618000000,None,None,None,5999000000,6799000000,4373000000
62,MSFT,quarterly,2008-06-30,12971000000,15837000000,2866000000,2866000000,5684000000,None,None,...,None,608000000,5968000000,1671000000,None,None,None,5617000000,6225000000,4297000000
63,MSFT,quarterly,2008-03-31,11940000000,14454000000,2514000000,2514000000,4409000000,None,None,...,None,532000000,4810000000,422000000,None,None,None,4234000000,4766000000,4388000000
64,MSFT,quarterly,2007-12-31,12824000000,16367000000,3543000000,3543000000,6481000000,None,None,...,None,481000000,6820000000,2113000000,None,None,None,6348000000,6829000000,4707000000
65,MSFT,quarterly,2007-09-30,11087000000,13762000000,2675000000,2675000000,5918000000,None,None,...,None,435000000,6216000000,1927000000,None,None,None,5859000000,6294000000,4289000000

In [85]:
income_statement_data.dtypes

symbol                                   object
report_type                              object
date                                     object
gross_profit                             object
total_revenue                            object
cost_of_revenue                          object
cogs                                     object
operating_income                         object
net_investment_income                    object
net_interest_income                      object
interest_income                          object
interest_expense                         object
non_interest_income                      object
other_non_operating_income               object
depreciation                             object
depreciation_amortization                object
income_before_tax                        object
income_tax_expense                       object
interest_and_debt_expense                object
net_income_from_continuing_operations    object
comprehensive_income                     object
ebit                                     object
ebitda                                   object
net_income                               object
dtype: object

In [91]:
def str_none_to_none(value):
    if value in ["None", "none", ""]:
        return None
    else:
        return value


for col in income_statement_data.columns:
    if col in ("symbol", "report_type"):
        income_statement_data[col] = income_statement_data[col].astype("str")
    elif col == "date":
        income_statement_data[col] = pd.to_datetime(income_statement_data[col])
    else:
        income_statement_data[col] = income_statement_data[col].apply(str_none_to_none)
        income_statement_data[col] = income_statement_data[col].astype("float")

In [92]:
income_statement_data

,symbol,report_type,date,gross_profit,total_revenue,cost_of_revenue,cogs,operating_income,net_investment_income,net_interest_income,...,depreciation,depreciation_amortization,income_before_tax,income_tax_expense,interest_and_debt_expense,net_income_from_continuing_operations,comprehensive_income,ebit,ebitda,net_income
0,AAPL,annual,2023-09-30,1.691480e+11,3.793520e+11,2.390690e+11,2.141370e+11,1.143010e+11,3.750000e+09,-3.933000e+09,...,8.500000e+09,1.151900e+10,1.137360e+11,1.674100e+10,3.933000e+09,9.699500e+10,9.665200e+10,1.176690e+11,1.258200e+11,9.699500e+10
1,AAPL,annual,2022-09-30,1.707820e+11,3.913970e+11,2.486400e+11,2.235460e+11,1.194370e+11,2.825000e+09,-2.931000e+09,...,8.700000e+09,1.110400e+10,1.191030e+11,1.930000e+10,2.931000e+09,9.980300e+10,8.853100e+10,1.220340e+11,1.305410e+11,9.980300e+10
2,AAPL,annual,2021-09-30,1.528360e+11,3.631720e+11,2.349540e+11,2.129810e+11,1.089490e+11,2.843000e+09,-2.645000e+09,...,9.500000e+09,1.128400e+10,1.092070e+11,1.452700e+10,2.645000e+09,9.468000e+10,9.524900e+10,1.118520e+11,1.202330e+11,9.468000e+10
3,AAPL,annual,2020-09-30,1.049560e+11,2.716420e+11,1.894750e+11,1.695590e+11,6.628800e+10,3.763000e+09,-2.873000e+09,...,9.700000e+09,1.105600e+10,6.709100e+10,9.680000e+09,2.873000e+09,5.741100e+10,5.745300e+10,6.996400e+10,7.734400e+10,5.741100e+10
4,AAPL,annual,2019-09-30,9.839200e+10,2.565980e+11,1.800270e+11,1.617820e+11,6.393000e+10,4.961000e+09,-3.576000e+09,...,1.130000e+10,1.254700e+10,6.573700e+10,1.048100e+10,3.576000e+09,5.525600e+10,5.803700e+10,6.931300e+10,7.647700e+10,5.525600e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,MSFT,quarterly,2008-09-30,1.221300e+10,1.506100e+10,2.848000e+09,2.848000e+09,5.999000e+09,NaN,NaN,...,NaN,5.850000e+08,5.991000e+09,1.618000e+09,NaN,NaN,NaN,5.999000e+09,6.799000e+09,4.373000e+09
62,MSFT,quarterly,2008-06-30,1.297100e+10,1.583700e+10,2.866000e+09,2.866000e+09,5.684000e+09,NaN,NaN,...,NaN,6.080000e+08,5.968000e+09,1.671000e+09,NaN,NaN,NaN,5.617000e+09,6.225000e+09,4.297000e+09
63,MSFT,quarterly,2008-03-31,1.194000e+10,1.445400e+10,2.514000e+09,2.514000e+09,4.409000e+09,NaN,NaN,...,NaN,5.320000e+08,4.810000e+09,4.220000e+08,NaN,NaN,NaN,4.234000e+09,4.766000e+09,4.388000e+09
64,MSFT,quarterly,2007-12-31,1.282400e+10,1.636700e+10,3.543000e+09,3.543000e+09,6.481000e+09,NaN,NaN,...,NaN,4.810000e+08,6.820000e+09,2.113000e+09,NaN,NaN,NaN,6.348000e+09,6.829000e+09,4.707000e+09
65,MSFT,quarterly,2007-09-30,1.108700e+10,1.376200e+10,2.675000e+09,2.675000e+09,5.918000e+09,NaN,NaN,...,NaN,4.350000e+08,6.216000e+09,1.927000e+09,NaN,NaN,NaN,5.859000e+09,6.294000e+09,4.289000e+09

In [102]:
income_statement_data.to_sql(
    "stocks_incomestatementdata", engine, if_exists="append", index=False
)

158

In [106]:
# Let's see if we can get a list of available stock tickers
t = pav.fetch_data(
    stock_symbol="", function="SYMBOL_SEARCH", api_key=api_key, keywords="a"
)

t

{'bestMatches': [{'1. symbol': 'A',
   '2. name': 'Agilent Technologies Inc',
   '3. type': 'Equity',
   '4. region': 'United States',
   '5. marketOpen': '09:30',
   '6. marketClose': '16:00',
   '7. timezone': 'UTC-04',
   '8. currency': 'USD',
   '9. matchScore': '1.0000'},
  {'1. symbol': 'A02.FRK',
   '2. name': 'Adways Inc',
   '3. type': 'Equity',
   '4. region': 'Frankfurt',
   '5. marketOpen': '08:00',
   '6. marketClose': '20:00',
   '7. timezone': 'UTC+02',
   '8. currency': 'EUR',
   '9. matchScore': '0.3333'},
  {'1. symbol': 'A04.FRK',
   '2. name': 'Ascential plc',
   '3. type': 'Equity',
   '4. region': 'Frankfurt',
   '5. marketOpen': '08:00',
   '6. marketClose': '20:00',
   '7. timezone': 'UTC+02',
   '8. currency': 'EUR',
   '9. matchScore': '0.3333'},
  {'1. symbol': 'A07.FRK',
   '2. name': 'AVANCE GAS HLDG DL 2',
   '3. type': 'Equity',
   '4. region': 'Frankfurt',
   '5. marketOpen': '08:00',
   '6. marketClose': '20:00',
   '7. timezone': 'UTC+02',
   '8. currency': 'EUR',
   '9. matchScore': '0.3333'},
  {'1. symbol': 'A0H.FRK',
   '2. name': 'AUXICO RESOURCES CANADA',
   '3. type': 'Equity',
   '4. region': 'Frankfurt',
   '5. marketOpen': '08:00',
   '6. marketClose': '20:00',
   '7. timezone': 'UTC+02',
   '8. currency': 'EUR',
   '9. matchScore': '0.3333'},
  {'1. symbol': 'A0P.FRK',
   '2. name': 'ARCTIC PAPER SA ZY 1',
   '3. type': 'Equity',
   '4. region': 'Frankfurt',
   '5. marketOpen': '08:00',
   '6. marketClose': '20:00',
   '7. timezone': 'UTC+02',
   '8. currency': 'EUR',
   '9. matchScore': '0.3333'},
  {'1. symbol': 'A0T.FRK',
   '2. name': 'American Tower Corp',
   '3. type': 'Equity',
   '4. region': 'Frankfurt',
   '5. marketOpen': '08:00',
   '6. marketClose': '20:00',
   '7. timezone': 'UTC+02',
   '8. currency': 'EUR',
   '9. matchScore': '0.3333'},
  {'1. symbol': 'A0U.FRK',
   '2. name': 'AZINCOURT URANIUM',
   '3. type': 'Equity',
   '4. region': 'Frankfurt',
   '5. marketOpen': '08:00',
   '6. marketClose': '20:00',
   '7. timezone': 'UTC+02',
   '8. currency': 'EUR',
   '9. matchScore': '0.3333'},
  {'1. symbol': 'A0B0.FRK',
   '2. name': 'AMALGAMATED FIN. DL-01',
   '3. type': 'Equity',
   '4. region': 'Frankfurt',
   '5. marketOpen': '08:00',
   '6. marketClose': '20:00',
   '7. timezone': 'UTC+02',
   '8. currency': 'EUR',
   '9. matchScore': '0.2857'},
  {'1. symbol': 'A0I0.FRK',
   '2. name': 'APPIA RARE EARTH+U O.N.',
   '3. type': 'Equity',
   '4. region': 'Frankfurt',
   '5. marketOpen': '08:00',
   '6. marketClose': '20:00',
   '7. timezone': 'UTC+02',
   '8. currency': 'EUR',
   '9. matchScore': '0.2857'}]}

In [108]:
# Get S&P 500 tickers
sp500_tickers = yf.Tickers("^GSPC")

# Fetch data (this will take some time depending on your internet connection)
# The information fetched may not directly provide company names, requiring additional processing

# You would typically iterate over `sp500_tickers` to build a comprehensive DataFrame

In [152]:
cursor.execute()

In [153]:
rows = cursor.fetchall()
rows

[('ZTS',),
 ('ZBRA',),
 ('ZBH',),
 ('YUM',),
 ('XYL',),
 ('XRAY',),
 ('XOM',),
 ('XEL',),
 ('WYNN',),
 ('WY',),
 ('WTW',),
 ('WST',),
 ('WRK',),
 ('WRB',),
 ('WMT',),
 ('WMB',),
 ('WM',),
 ('WFC',),
 ('WELL',),
 ('WEC',),
 ('WDC',),
 ('WBD',),
 ('WBA',),
 ('WAT',),
 ('WAB',),
 ('VZ',),
 ('VTRS',),
 ('VTR',),
 ('VRTX',),
 ('VRSN',),
 ('VRSK',),
 ('VMC',),
 ('VLTO',),
 ('VLO',),
 ('VICI',),
 ('VFC',),
 ('V',),
 ('USB',),
 ('URI',),
 ('UPS',),
 ('UNP',),
 ('UNH',),
 ('ULTA',),
 ('UHS',),
 ('UDR',),
 ('UBER',),
 ('UAL',),
 ('TYL',),
 ('TXT',),
 ('TXN',),
 ('TTWO',),
 ('TT',),
 ('TSN',),
 ('TSLA',),
 ('TSCO',),
 ('TRV',),
 ('TROW',),
 ('TRMB',),
 ('TRGP',),
 ('TPR',),
 ('TMUS',),
 ('TMO',),
 ('TJX',),
 ('TGT',),
 ('TFX',),
 ('TFC',),
 ('TER',),
 ('TEL',),
 ('TECH',),
 ('TDY',),
 ('TDG',),
 ('TAP',),
 ('T',),
 ('SYY',),
 ('SYK',),
 ('SYF',),
 ('SWKS',),
 ('SWK',),
 ('STZ',),
 ('STX',),
 ('STT',),
 ('STLD',),
 ('STE',),
 ('SRE',),
 ('SPGI',),
 ('SPG',),
 ('SO',),
 ('SNPS',),
 ('SNA',),
 ('SMCI',),
 ('SLB',),
 ('SJM',),
 ('SHW',),
 ('SCHW',),
 ('SBUX',),
 ('SBAC',),
 ('RVTY',),
 ('RTX',),
 ('RSG',),
 ('ROST',)]

In [161]:
def create_db_engine(
    db_name: str,
    db_user: str = "briedle",
    db_password: str = "ben21788",
    db_host: str = "localhost",
    db_port: str = "5432",
):
    """
    Creates a database engine for connecting to a PostgreSQL database.

    Args:
        db_name (str): The name of the database.
        db_user (str): The username for the database.
        db_password (str): The password for the database.
        db_host (str): The host for the database.
        db_port (str): The port for the database.

    Returns:
        sqlalchemy.engine.base.Engine: A database engine object.
    """
    engine = sqlalchemy.create_engine(
        f"postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}"
    )
    return engine

In [162]:
engine = create_db_engine("financial")

query = "select symbol from stocks_basestockdata order by symbol desc limit 100"

top_100 = pd.read_sql_query(query, engine)
top_100

   symbol
0     ZTS
1    ZBRA
2     ZBH
3     YUM
4     XYL
..    ...
95   SBAC
96   RVTY
97    RTX
98    RSG
99   ROST

[100 rows x 1 columns]

In [163]:
inspector = sqlalchemy.inspect(engine)
tables = inspector.get_table_names()
tables

['django_migrations',
 'django_content_type',
 'auth_permission',
 'auth_group',
 'auth_group_permissions',
 'auth_user',
 'auth_user_groups',
 'auth_user_user_permissions',
 'django_admin_log',
 'django_session',
 'stocks_monthlystockpricedata',
 'stocks_incomestatementdata',
 'stocks_basestockdata']

In [164]:
income_statement_df = pd.read_sql_table("stocks_incomestatementdata", engine)
income_statement_df

,id,report_type,date,gross_profit,total_revenue,cost_of_revenue,cogs,operating_income,net_investment_income,net_interest_income,...,depreciation_amortization,income_before_tax,income_tax_expense,interest_and_debt_expense,net_income_from_continuing_operations,comprehensive_income,ebit,ebitda,net_income,stock_id
0,1,annual,2023-09-30,1.691480e+11,3.793520e+11,2.390690e+11,2.141370e+11,1.143010e+11,3.750000e+09,-3.933000e+09,...,1.151900e+10,1.137360e+11,1.674100e+10,3.933000e+09,9.699500e+10,9.665200e+10,1.176690e+11,1.258200e+11,9.699500e+10,None
1,2,annual,2022-09-30,1.707820e+11,3.913970e+11,2.486400e+11,2.235460e+11,1.194370e+11,2.825000e+09,-2.931000e+09,...,1.110400e+10,1.191030e+11,1.930000e+10,2.931000e+09,9.980300e+10,8.853100e+10,1.220340e+11,1.305410e+11,9.980300e+10,None
2,3,annual,2021-09-30,1.528360e+11,3.631720e+11,2.349540e+11,2.129810e+11,1.089490e+11,2.843000e+09,-2.645000e+09,...,1.128400e+10,1.092070e+11,1.452700e+10,2.645000e+09,9.468000e+10,9.524900e+10,1.118520e+11,1.202330e+11,9.468000e+10,None
3,4,annual,2020-09-30,1.049560e+11,2.716420e+11,1.894750e+11,1.695590e+11,6.628800e+10,3.763000e+09,-2.873000e+09,...,1.105600e+10,6.709100e+10,9.680000e+09,2.873000e+09,5.741100e+10,5.745300e+10,6.996400e+10,7.734400e+10,5.741100e+10,None
4,5,annual,2019-09-30,9.839200e+10,2.565980e+11,1.800270e+11,1.617820e+11,6.393000e+10,4.961000e+09,-3.576000e+09,...,1.254700e+10,6.573700e+10,1.048100e+10,3.576000e+09,5.525600e+10,5.803700e+10,6.931300e+10,7.647700e+10,5.525600e+10,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311,312,quarterly,2008-09-30,1.221300e+10,1.506100e+10,2.848000e+09,2.848000e+09,5.999000e+09,NaN,NaN,...,5.850000e+08,5.991000e+09,1.618000e+09,NaN,NaN,NaN,5.999000e+09,6.799000e+09,4.373000e+09,None
312,313,quarterly,2008-06-30,1.297100e+10,1.583700e+10,2.866000e+09,2.866000e+09,5.684000e+09,NaN,NaN,...,6.080000e+08,5.968000e+09,1.671000e+09,NaN,NaN,NaN,5.617000e+09,6.225000e+09,4.297000e+09,None
313,314,quarterly,2008-03-31,1.194000e+10,1.445400e+10,2.514000e+09,2.514000e+09,4.409000e+09,NaN,NaN,...,5.320000e+08,4.810000e+09,4.220000e+08,NaN,NaN,NaN,4.234000e+09,4.766000e+09,4.388000e+09,None
314,315,quarterly,2007-12-31,1.282400e+10,1.636700e+10,3.543000e+09,3.543000e+09,6.481000e+09,NaN,NaN,...,4.810000e+08,6.820000e+09,2.113000e+09,NaN,NaN,NaN,6.348000e+09,6.829000e+09,4.707000e+09,None
315,316,quarterly,2007-09-30,1.108700e+10,1.376200e+10,2.675000e+09,2.675000e+09,5.918000e+09,NaN,NaN,...,4.350000e+08,6.216000e+09,1.927000e+09,NaN,NaN,NaN,5.859000e+09,6.294000e+09,4.289000e+09,None

In [5]:
income_statement_data

NameError: name 'income_statement_data' is not defined

In [9]:
from stocks.models import IncomeStatementData, BaseStockData
from asgiref.sync import sync_to_async
from django.db import IntegrityError

# Wrap the synchronous Django ORM call
get_stock_instance = sync_to_async(BaseStockData.objects.get, thread_sensitive=True)
create_income_statement_instance = sync_to_async(IncomeStatementData.objects.create, thread_sensitive=True)

income_statement_data = pd.read_csv('../data/income_statement_data.csv')
# Assuming income_statement_data is your DataFrame
for _, row in income_statement_data.iterrows():
    # Fetch the corresponding BaseStockData instance
    try:
        stock_instance = await get_stock_instance(symbol=row['symbol'])
        # stock_instance = BaseStockData.objects.get(symbol=row["symbol"])
    except BaseStockData.DoesNotExist:
        # Handle the case where the symbol does not exist
        print(f"No BaseStockData found for symbol: {row['symbol']}")
        continue
    
        # Convert all 'nan' values in the row to None
    for key, value in row.items():
        if pd.isna(value):
            row[key] = None

    # Create and save the new IncomeStatementData instance
    try:
        await create_income_statement_instance(
            stock=stock_instance,
            report_type=row["report_type"],
            date=row["date"],
            gross_profit=row["gross_profit"],
            total_revenue=row["total_revenue"],
            cost_of_revenue=row["cost_of_revenue"],
            cogs=row["cogs"],
            operating_income=row["operating_income"],
            net_investment_income=row["net_investment_income"],
            net_interest_income=row["net_interest_income"],
            interest_income=row["interest_income"],
            interest_expense=row["interest_expense"],
            non_interest_income=row["non_interest_income"],
            other_non_operating_income=row["other_non_operating_income"],
            depreciation=row["depreciation"],
            depreciation_amortization=row["depreciation_amortization"],
            income_before_tax=row["income_before_tax"],
            income_tax_expense=row["income_tax_expense"],
            interest_and_debt_expense=row["interest_and_debt_expense"],
            net_income_from_continuing_operations=row["net_income_from_continuing_operations"],
            comprehensive_income=row["comprehensive_income"],
            ebit=row["ebit"],
            ebitda=row["ebitda"],
            net_income=row["net_income"],
        )
        #     IncomeStatementData.objects.create(
            #     stock=stock_instance,
            #     report_type=row["report_type"],
            #     date=row["date"],
            #     gross_profit=row["gross_profit"],
            #     total_revenue=row["total_revenue"],
            #     cost_of_revenue=row["cost_of_revenue"],
            #     cogs=row["cogs"],
            #     operating_income=row["operating_income"],
            #     net_investment_income=row["net_investment_income"],
            #     net_interest_income=row["net_interest_income"],
            #     interest_income=row["interest_income"],
            #     interest_expense=row["interest_expense"],
            #     non_interest_income=row["non_interest_income"],
            #     other_non_operating_income=row["other_non_operating_income"],
            #     depreciation=row["depreciation"],
            #     depreciation_amortization=row["depreciation_amortization"],
            #     income_before_tax=row["income_before_tax"],
            #     income_tax_expense=row["income_tax_expense"],
            #     interest_and_debt_expense=row["interest_and_debt_expense"],
            #     net_income_from_continuing_operations=row["net_income_from_continuing_operations"],
            #     comprehensive_income=row["comprehensive_income"],
            #     ebit=row["ebit"],
            #     ebitda=row["ebitda"],
            #     net_income=row["net_income"],
    # )
    except IntegrityError as e:
        print(e)
        continue

duplicate key value violates unique constraint "stocks_incomestatementda_stock_id_report_type_dat_c266ded8_uniq"
DETAIL:  Key (stock_id, report_type, date)=(AAPL, annual, 2023-09-30) already exists.

duplicate key value violates unique constraint "stocks_incomestatementda_stock_id_report_type_dat_c266ded8_uniq"
DETAIL:  Key (stock_id, report_type, date)=(AAPL, annual, 2022-09-30) already exists.

duplicate key value violates unique constraint "stocks_incomestatementda_stock_id_report_type_dat_c266ded8_uniq"
DETAIL:  Key (stock_id, report_type, date)=(AAPL, annual, 2021-09-30) already exists.

duplicate key value violates unique constraint "stocks_incomestatementda_stock_id_report_type_dat_c266ded8_uniq"
DETAIL:  Key (stock_id, report_type, date)=(AAPL, annual, 2020-09-30) already exists.

duplicate key value violates unique constraint "stocks_incomestatementda_stock_id_report_type_dat_c266ded8_uniq"
DETAIL:  Key (stock_id, report_type, date)=(AAPL, annual, 2019-09-30) already exists.

duplicate key value violates unique constraint "stocks_incomestatementda_stock_id_report_type_dat_c266ded8_uniq"
DETAIL:  Key (stock_id, report_type, date)=(AAPL, annual, 2018-09-30) already exists.

duplicate key value violates unique constraint "stocks_incomestatementda_stock_id_report_type_dat_c266ded8_uniq"
DETAIL:  Key (stock_id, report_type, date)=(AAPL, annual, 2017-09-30) already exists.

symbol                                    object
report_type                               object
date                                      object
gross_profit                               int64
total_revenue                              int64
cost_of_revenue                            int64
cogs                                       int64
operating_income                           int64
net_investment_income                    float64
net_interest_income                      float64
interest_income                          float64
interest_expense                         float64
non_interest_income                      float64
other_non_operating_income               float64
depreciation                             float64
depreciation_amortization                  int64
income_before_tax                          int64
income_tax_expense                         int64
interest_and_debt_expense                float64
net_income_from_continuing_operations    float64
comprehensive_income                     float64
ebit                                       int64
ebitda                                     int64
net_income                                 int64
dtype: object

In [11]:
# let's try pulling in some more data from alpha vantage

NameError: name 'companies' is not defined

In [16]:
cursor.execute('select * from stocks_basestockdata')

def execute_query(cursor, query: str = None):
    """Execute a query and pull results into a pd.DataFrame

    Args:
        cursor (_type_): The psycopg2 cursor object
        query (str, optional): The query to execute. Defaults to None, in which case the most recent
            query is executed.
    """
    rows = cursor.fetchall()
    # Get the column names
    colnames = [desc[0] for desc in cursor.description]
    # Create a DataFrame
    return pd.DataFrame(rows, columns=colnames)

,symbol,name,sector,headquarters,date_added
0,MMM,3M,Industrials,"Saint Paul, Minnesota",1957-03-04
1,AOS,A. O. Smith,Industrials,"Milwaukee, Wisconsin",2017-07-26
2,ABT,Abbott,Health Care,"North Chicago, Illinois",1957-03-04
3,ABBV,AbbVie,Health Care,"North Chicago, Illinois",2012-12-31
4,ACN,Accenture,Information Technology,"Dublin, Ireland",2011-07-06
...,...,...,...,...,...
498,XYL,Xylem Inc.,Industrials,"White Plains, New York",2011-11-01
499,YUM,Yum! Brands,Consumer Discretionary,"Louisville, Kentucky",1997-10-06
500,ZBRA,Zebra Technologies,Information Technology,"Lincolnshire, Illinois",2019-12-23
501,ZBH,Zimmer Biomet,Health Care,"Warsaw, Indiana",2001-08-07
502,ZTS,Zoetis,Health Care,"Parsippany, New Jersey",2013-06-21

In [19]:
# stocks = pd.read_sql_table('stocks_basestockdata', con)
stocks = pd.read_sql_query('select * from stocks_basestockdata', con)
stocks

/tmp/ipykernel_311472/3583915556.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  stocks = pd.read_sql_query('select * from stocks_basestockdata', con)

,symbol,name,sector,headquarters,date_added
0,MMM,3M,Industrials,"Saint Paul, Minnesota",1957-03-04
1,AOS,A. O. Smith,Industrials,"Milwaukee, Wisconsin",2017-07-26
2,ABT,Abbott,Health Care,"North Chicago, Illinois",1957-03-04
3,ABBV,AbbVie,Health Care,"North Chicago, Illinois",2012-12-31
4,ACN,Accenture,Information Technology,"Dublin, Ireland",2011-07-06
...,...,...,...,...,...
498,XYL,Xylem Inc.,Industrials,"White Plains, New York",2011-11-01
499,YUM,Yum! Brands,Consumer Discretionary,"Louisville, Kentucky",1997-10-06
500,ZBRA,Zebra Technologies,Information Technology,"Lincolnshire, Illinois",2019-12-23
501,ZBH,Zimmer Biomet,Health Care,"Warsaw, Indiana",2001-08-07
502,ZTS,Zoetis,Health Care,"Parsippany, New Jersey",2013-06-21

In [20]:
import sqlalchemy

def create_postgres_engine(user: str, password: str, host: str, port: str, db: str) -> sqlalchemy.engine.base.Engine:
  """
  Create and return a SQLAlchemy engine for PostgreSQL.

  Args:
    user (str): The username for the database.
    password (str): The password for the database.
    host (str): The host where the database is running.
    port (str): The port where the database is running.
    db (str): The name of the database.

  Returns:
    sqlalchemy.engine.base.Engine: An SQLAlchemy engine instance connected to the PostgreSQL database.
  """
  engine = sqlalchemy.create_engine(f'postgresql+psycopg2://{user}:{password}@{host}:{port}/{db}')
  return engine

In [22]:
eng = create_postgres_engine(
    user=db_user,
    password=db_password,
    host=db_host,
    port=db_port,
    db=db_name
)

In [23]:
stocks = pd.read_sql_table('stocks_basestockdata', eng)
stocks

,symbol,name,sector,headquarters,date_added
0,MMM,3M,Industrials,"Saint Paul, Minnesota",1957-03-04
1,AOS,A. O. Smith,Industrials,"Milwaukee, Wisconsin",2017-07-26
2,ABT,Abbott,Health Care,"North Chicago, Illinois",1957-03-04
3,ABBV,AbbVie,Health Care,"North Chicago, Illinois",2012-12-31
4,ACN,Accenture,Information Technology,"Dublin, Ireland",2011-07-06
...,...,...,...,...,...
498,XYL,Xylem Inc.,Industrials,"White Plains, New York",2011-11-01
499,YUM,Yum! Brands,Consumer Discretionary,"Louisville, Kentucky",1997-10-06
500,ZBRA,Zebra Technologies,Information Technology,"Lincolnshire, Illinois",2019-12-23
501,ZBH,Zimmer Biomet,Health Care,"Warsaw, Indiana",2001-08-07
502,ZTS,Zoetis,Health Care,"Parsippany, New Jersey",2013-06-21

In [ ]:
import psycopg2
import pandas as pd

# Connect to your database
conn = psycopg2.connect("dbname=test user=postgres")
cursor = conn.cursor()

# Execute a query
cursor.execute("SELECT * FROM your_table")

# Fetch all results
rows = cursor.fetchall()

# Get the column names
colnames = [desc[0] for desc in cursor.description]

# Create a DataFrame
df = pd.DataFrame(rows, columns=colnames)

# Close the connection
cursor.close()
conn.close()

print(df)

In [24]:
# EXAMPLE SQLALCHEMY CORE CODE FROM CHATGPT
from sqlalchemy import create_engine, Table, Column, Integer, String, MetaData

# Create an engine and connect to the database
engine = create_engine('sqlite:///:memory:')

# Define metadata and a table
metadata = MetaData()
users = Table('users', metadata,
              Column('id', Integer, primary_key=True),
              Column('name', String),
              Column('age', Integer))

# Create the table in the database
metadata.create_all(engine)

# Insert data using the connection
with engine.connect() as connection:
    connection.execute(users.insert(), [{"name": "Alice", "age": 30}, {"name": "Bob", "age": 22}])

# Query data
with engine.connect() as connection:
    result = connection.execute(users.select().where(users.c.age > 25))
    for row in result:
        print(row)

In [4]:
from pysupport.utils import setup_django_env
setup_django_env('/home/briedle/web-projects/finance/stock_visualizer_backend')

stock_symbol = 'MMM'

stock_data = pav.fetch_data(
    stock_symbol, 
    function='TIME_SERIES_MONTHLY_ADJUSTED', 
    api_key=api_key
)
stock_data

pav.sync_monthly_adjusted(stock_data)
# pav.parse_monthly_adjusted(
    
# )

{'Meta Data': {'1. Information': 'Monthly Adjusted Prices and Volumes',
  '2. Symbol': 'MMM',
  '3. Last Refreshed': '2024-03-21',
  '4. Time Zone': 'US/Eastern'},
 'Monthly Adjusted Time Series': {'2024-03-21': {'1. open': '92.0400',
   '2. high': '109.1900',
   '3. low': '90.4765',
   '4. close': '107.8700',
   '5. adjusted close': '107.8700',
   '6. volume': '110607401',
   '7. dividend amount': '0.0000'},
  '2024-02-29': {'1. open': '94.3900',
   '2. high': '96.0200',
   '3. low': '90.5200',
   '4. close': '92.1200',
   '5. adjusted close': '92.1200',
   '6. volume': '77389177',
   '7. dividend amount': '1.5100'},
  '2024-01-31': {'1. open': '108.6200',
   '2. high': '110.6600',
   '3. low': '92.7300',
   '4. close': '94.3500',
   '5. adjusted close': '92.8326',
   '6. volume': '98984659',
   '7. dividend amount': '0.0000'},
  '2023-12-29': {'1. open': '98.8400',
   '2. high': '110.1800',
   '3. low': '98.1600',
   '4. close': '109.3200',
   '5. adjusted close': '107.5618',
   '6. volume': '75063863',
   '7. dividend amount': '0.0000'},
  '2023-11-30': {'1. open': '91.1600',
   '2. high': '100.0800',
   '3. low': '89.5700',
   '4. close': '99.0700',
   '5. adjusted close': '97.4767',
   '6. volume': '66813030',
   '7. dividend amount': '1.5000'},
  '2023-10-31': {'1. open': '92.6500',
   '2. high': '92.8300',
   '3. low': '85.3450',
   '4. close': '90.9500',
   '5. adjusted close': '88.1064',
   '6. volume': '83624101',
   '7. dividend amount': '0.0000'},
  '2023-09-29': {'1. open': '107.3000',
   '2. high': '108.8000',
   '3. low': '92.4100',
   '4. close': '93.6200',
   '5. adjusted close': '90.6930',
   '6. volume': '75259716',
   '7. dividend amount': '0.0000'},
  '2023-08-31': {'1. open': '111.5000',
   '2. high': '111.9200',
   '3. low': '97.7000',
   '4. close': '106.6700',
   '5. adjusted close': '103.3350',
   '6. volume': '73381693',
   '7. dividend amount': '1.5000'},
  '2023-07-31': {'1. open': '100.2000',
   '2. high': '113.1400',
   '3. low': '95.5700',
   '4. close': '111.5000',
   '5. adjusted close': '106.4178',
   '6. volume': '78753003',
   '7. dividend amount': '0.0000'},
  '2023-06-30': {'1. open': '93.4700',
   '2. high': '104.8900',
   '3. low': '92.3800',
   '4. close': '100.0900',
   '5. adjusted close': '95.5279',
   '6. volume': '95076103',
   '7. dividend amount': '0.0000'},
  '2023-05-31': {'1. open': '106.3400',
   '2. high': '106.8300',
   '3. low': '93.1900',
   '4. close': '93.3100',
   '5. adjusted close': '89.0569',
   '6. volume': '67538743',
   '7. dividend amount': '1.5000'},
  '2023-04-28': {'1. open': '105.1500',
   '2. high': '107.3000',
   '3. low': '101.0500',
   '4. close': '106.2200',
   '5. adjusted close': '99.8750',
   '6. volume': '61832938',
   '7. dividend amount': '0.0000'},
  '2023-03-31': {'1. open': '111.0400',
   '2. high': '112.3300',
   '3. low': '100.1575',
   '4. close': '105.1100',
   '5. adjusted close': '98.8313',
   '6. volume': '90561276',
   '7. dividend amount': '0.0000'},
  '2023-02-28': {'1. open': '114.5500',
   '2. high': '120.8500',
   '3. low': '106.7614',
   '4. close': '107.7400',
   '5. adjusted close': '101.3042',
   '6. volume': '55810270',
   '7. dividend amount': '1.5000'},
  '2023-01-31': {'1. open': '121.5200',
   '2. high': '129.9000',
   '3. low': '111.7600',
   '4. close': '115.0800',
   '5. adjusted close': '106.7757',
   '6. volume': '76990932',
   '7. dividend amount': '0.0000'},
  '2022-12-30': {'1. open': '127.3000',
   '2. high': '130.0200',
   '3. low': '117.8000',
   '4. close': '119.9200',
   '5. adjusted close': '111.2664',
   '6. volume': '59161756',
   '7. dividend amount': '0.0000'},
  '2022-11-30': {'1. open': '126.7700',
   '2. high': '133.9100',
   '3. low': '121.1200',
   '4. close': '125.9700',
   '5. adjusted close': '116.8799',
   '6. volume': '52507707',
   '7. dividend amount': '1.4900'},
  '2022-10-31': {'1. open': '111.6900',
   '2. high': '126.6700',
   '3. low': '107.0700',
   '4. close': '125.7900',
   '5. adjusted close': '115.3610',
   '6. volume': '72890378',
   '7. dividend amount': '0.0000'},
  '2022-09-30': {'1. open': '124.3000',
   '2. high': '126.5200',
   '3. low': '110.3900',
   '4. close': '110.5000',
   '5. adjusted close': '101.3387',
   '6. volume': '239748874',
   '7. dividend amount': '0.0000'},
  '2022-08-31': {'1. open': '142.1500',
   '2. high': '152.3000',
   '3. low': '123.0301',
   '4. close': '124.3500',
   '5. adjusted close': '114.0404',
   '6. volume': '304628359',
   '7. dividend amount': '1.4900'},
  '2022-07-29': {'1. open': '129.4100',
   '2. high': '145.7000',
   '3. low': '125.6000',
   '4. close': '143.2400',
   '5. adjusted close': '130.0299',
   '6. volume': '67100466',
   '7. dividend amount': '0.0000'},
  '2022-06-30': {'1. open': '149.3300',
   '2. high': '149.4900',
   '3. low': '127.2990',
   '4. close': '129.4100',
   '5. adjusted close': '117.4754',
   '6. volume': '63798266',
   '7. dividend amount': '0.0000'},
  '2022-05-31': {'1. open': '144.5100',
   '2. high': '154.6600',
   '3. low': '141.0000',
   '4. close': '149.2900',
   '5. adjusted close': '135.5220',
   '6. volume': '61787866',
   '7. dividend amount': '1.4900'},
  '2022-04-29': {'1. open': '149.6300',
   '2. high': '153.1000',
   '3. low': '142.8700',
   '4. close': '144.2200',
   '5. adjusted close': '129.6055',
   '6. volume': '53629997',
   '7. dividend amount': '0.0000'},
  '2022-03-31': {'1. open': '148.5800',
   '2. high': '153.2600',
   '3. low': '140.8300',
   '4. close': '148.8800',
   '5. adjusted close': '133.7933',
   '6. volume': '82702137',
   '7. dividend amount': '0.0000'},
  '2022-02-28': {'1. open': '165.5900',
   '2. high': '169.2500',
   '3. low': '139.7400',
   '4. close': '148.6500',
   '5. adjusted close': '133.5866',
   '6. volume': '76132679',
   '7. dividend amount': '1.4900'},
  '2022-01-31': {'1. open': '178.3200',
   '2. high': '181.7800',
   '3. low': '160.5371',
   '4. close': '166.0200',
   '5. adjusted close': '147.7157',
   '6. volume': '62309642',
   '7. dividend amount': '0.0000'},
  '2021-12-31': {'1. open': '172.5500',
   '2. high': '179.1800',
   '3. low': '169.1801',
   '4. close': '177.6300',
   '5. adjusted close': '158.0456',
   '6. volume': '48251474',
   '7. dividend amount': '0.0000'},
  '2021-11-30': {'1. open': '178.5300',
   '2. high': '186.3000',
   '3. low': '169.9400',
   '4. close': '170.0400',
   '5. adjusted close': '151.2924',
   '6. volume': '47872133',
   '7. dividend amount': '1.4800'},
  '2021-10-29': {'1. open': '176.2500',
   '2. high': '183.8200',
   '3. low': '173.7800',
   '4. close': '178.6800',
   '5. adjusted close': '157.6745',
   '6. volume': '48241875',
   '7. dividend amount': '0.0000'},
  '2021-09-30': {'1. open': '194.5500',
   '2. high': '195.6060',
   '3. low': '175.3700',
   '4. close': '175.4200',
   '5. adjusted close': '154.7977',
   '6. volume': '67366254',
   '7. dividend amount': '0.0000'},
  '2021-08-31': {'1. open': '199.0700',
   '2. high': '202.7700',
   '3. low': '192.7200',
   '4. close': '194.7400',
   '5. adjusted close': '171.8465',
   '6. volume': '39822553',
   '7. dividend amount': '1.4800'},
  '2021-07-30': {'1. open': '199.4500',
   '2. high': '203.2100',
   '3. low': '194.7600',
   '4. close': '197.9400',
   '5. adjusted close': '173.3489',
   '6. volume': '46011957',
   '7. dividend amount': '0.0000'},
  '2021-06-30': {'1. open': '204.9800',
   '2. high': '206.8063',
   '3. low': '191.5300',
   '4. close': '198.6300',
   '5. adjusted close': '173.9532',
   '6. volume': '51268693',
   '7. dividend amount': '0.0000'},
  '2021-05-28': {'1. open': '197.9900',
   '2. high': '208.9500',
   '3. low': '196.6600',
   '4. close': '203.0400',
   '5. adjusted close': '177.8153',
   '6. volume': '37466515',
   '7. dividend amount': '1.4800'},
  '2021-04-30': {'1. open': '193.2500',
   '2. high': '203.1550',
   '3. low': '188.6300',
   '4. close': '197.1400',
   '5. adjusted close': '171.3904',
   '6. volume': '46438173',
   '7. dividend amount': '0.0000'},
  '2021-03-31': {'1. open': '175.7000',
   '2. high': '196.7200',
   '3. low': '174.0700',
   '4. close': '192.6800',
   '5. adjusted close': '167.5130',
   '6. volume': '62922350',
   '7. dividend amount': '0.0000'},
  '2021-02-26': {'1. open': '175.9700',
   '2. high': '182.3800',
   '3. low': '173.5500',
   '4. close': '175.0600',
   '5. adjusted close': '152.1944',
   '6. volume': '43154764',
   '7. dividend amount': '1.4800'},
  '2021-01-29': {'1. open': '175.0000',
   '2. high': '187.2700',
   '3. low': '163.3800',
   '4. close': '175.6600',
   '5. adjusted close': '151.4512',
   '6. volume': '70120337',
   '7. dividend amount': '0.0000'},
  '2020-12-31': {'1. open': '174.2200',
   '2. high': '177.4600',
   '3. low': '169.1800',
   '4. close': '174.7900',
   '5. adjusted close': '150.7011',
   '6. volume': '48751666',
   '7. dividend amount': '0.0000'},
  '2020-11-30': {'1. open': '162.1900',
   '2. high': '179.6250',
   '3. low': '159.9000',
   '4. close': '172.7300',
   '5. adjusted close': '148.9250',
   '6. volume': '53598220',
   '7. dividend amount': '1.4700'},
  '2020-10-30': {'1. open': '160.6700',
   '2. high': '173.1900',
   '3. low': '156.1300',
   '4. close': '159.9600',
   '5. adjusted close': '136.7435',
   '6. volume': '46222327',
   '7. dividend amount': '0.0000'},
  '2020-09-30': {'1. open': '162.1700',
   '2. high': '173.2000',
   '3. low': '158.0700',
   '4. close': '160.1800',
   '5. adjusted close': '136.9316',
   '6. volume': '55990350',
   '7. dividend amount': '0.0000'},
  '2020-08-31': {'1. open': '151.0900',
   '2. high': '167.4900',
   '3. low': '149.3100',
   '4. close': '163.0200',
   '5. adjusted close': '139.3594',
   '6. volume': '49410753',
   '7. dividend amount': '1.4700'},
  '2020-07-31': {'1. open': '156.3400',
   '2. high': '163.3800',
   '3. low': '148.8000',
   '4. close': '150.4700',
   '5. adjusted close': '127.4721',
   '6. volume': '58624658',
   '7. dividend amount': '0.0000'},
  '2020-06-30': {'1. open': '155.9500',
   '2. high': '169.5400',
   '3. low': '150.1000',
   '4. close': '155.9900',
   '5. adjusted close': '132.1485',
   '6. volume': '66941566',
   '7. dividend amount': '0.0000'},
  '2020-05-29': {'1. open': '149.3000',
   '2. high': '159.8700',
   '3. low': '131.1200',
   '4. close': '156.4400',
   '5. adjusted close': '132.5297',
   '6. volume': '86444186',
   '7. dividend amount': '1.4700'},
  '2020-04-30': {'1. open': '132.0000',
   '2. high': '163.0800',
   '3. low': '131.0100',
   '4. close': '151.9200',
   '5. adjusted close': '127.4160',
   '6. volume': '82041375',
   '7. dividend amount': '0.0000'},
  '2020-03-31': {'1. open': '151.3400',
   '2. high': '154.7400',
   '3. low': '114.0400',
   '4. close': '136.5100',
   '5. adjusted close': '114.4915',
   '6. volume': '148694286',
   '7. dividend amount': '0.0000'},
  '2020-02-28': {'1. open': '160.0300',
   '2. high': '165.0400',
   '3. low': '145.9700',
   '4. close': '149.2400',
   '5. adjusted close': '125.1682',
   '6. volume': '76313199',
   '7. dividend amount': '1.4700'},
  '2020-01-31': {'1. open': '177.6800',
   '2. high': '182.5500',
   '3. low': '158.2300',
   '4. close': '158.6600',
   '5. adjusted close': '131.8556',
   '6. volume': '70669691',
   '7. dividend amount': '0.0000'},
  '2019-12-31': {'1. open': '170.1600',
   '2. high': '179.1800',
   '3. low': '162.7200',
   '4. close': '176.4200',
   '5. adjusted close': '146.6152',
   '6. volume': '56386065',
   '7. dividend amount': '0.0000'},
  '2019-11-29': {'1. open': '166.9400',
   '2. high': '176.7100',
   '3. low': '164.5100',
   '4. close': '169.7700',
   '5. adjusted close': '141.0886',
   '6. volume': '48735226',
   '7. dividend amount': '1.4400'},
  '2019-10-31': {'1. open': '165.0000',
   '2. high': '169.9500',
   '3. low': '150.5800',
   '4. close': '164.9900',
   '5. adjusted close': '135.9309',
   '6. volume': '67848569',
   '7. dividend amount': '0.0000'},
  '2019-09-30': {'1. open': '161.4000',
   '2. high': '172.4800',
   '3. low': '157.2600',
   '4. close': '164.4000',
   '5. adjusted close': '135.4448',
   '6. volume': '51748862',
   '7. dividend amount': '0.0000'},
  '2019-08-30': {'1. open': '174.7900',
   '2. high': '177.6700',
   '3. low': '154.0000',
   '4. close': '161.7200',
   '5. adjusted close': '133.2368',
   '6. volume': '63243778',
   '7. dividend amount': '1.4400'},
  '2019-07-31': {'1. open': '175.4600',
   '2. high': '187.7200',
   '3. low': '164.2900',
   '4. close': '174.7200',
   '5. adjusted close': '142.6376',
   '6. volume': '62581470',
   '7. dividend amount': '0.0000'},
  '2019-06-28': {'1. open': '159.7500',
   '2. high': '174.5600',
   '3. low': '159.3200',
   '4. close': '173.3400',
   '5. adjusted close': '141.5110',
   '6. volume': '56452878',
   '7. dividend amount': '0.0000'},
  '2019-05-31': {'1. open': '189.4900',
   '2. high': '189.7100',
   '3. low': '159.6300',
   '4. close': '159.7500',
   '5. adjusted close': '130.4164',
   '6. volume': '94606211',
   '7. dividend amount': '1.4400'},
  '2019-04-30': {'1. open': '209.8900',
   '2. high': '219.7500',
   '3. low': '186.5500',
   '4. close': '189.5100',
   '5. adjusted close': '153.3802',
   '6. volume': '54909666',
   '7. dividend amount': '0.0000'},
  '2019-03-29': {'1. open': '208.8100',
   '2. high': '210.5400',
   '3. low': '198.0000',
   '4. close': '207.7800',
   '5. adjusted close': '168.1671',
   '6. volume': '47486793',
   '7. dividend amount': '0.0000'},
  '2019-02-28': {'1. open': '201.4900',
   '2. high': '211.5900',
   '3. low': '196.2500',
   '4. close': '207.3900',
   '5. adjusted close': '167.8514',
   '6. volume': '36859992',
   '7. dividend amount': '1.4400'},
  '2019-01-31': {'1. open': '187.8200',
   '2. high': '200.8900',
   '3. low': '182.8900',
   '4. close': '200.3000',
   '5. adjusted close': '160.9820',
   '6. volume': '53043637',
   '7. dividend amount': '0.0000'},
  '2018-12-31': {'1. open': '211.2100',
   '2. high': '211.9500',
   '3. low': '176.8700',
   '4. close': '190.5400',
   '5. adjusted close': '153.1378',
   '6. volume': '51331046',
   '7. dividend amount': '0.0000'},
  '2018-11-30': {'1. open': '190.6100',
   '2. high': '209.7700',
   '3. low': '190.0900',
   '4. close': '207.9200',
   '5. adjusted close': '167.1062',
   '6. volume': '51078359',
   '7. dividend amount': '1.3600'},
  '2018-10-31': {'1. open': '212.4000',
   '2. high': '217.3400',
   '3. low': '181.9800',
   '4. close': '190.2600',
   '5. adjusted close': '151.8732',
   '6. volume': '67294843',
   '7. dividend amount': '0.0000'},
  '2018-09-28': {'1. open': '210.5500',
   '2. high': '217.8700',
   '3. low': '205.9000',
   '4. close': '210.7100',
   '5. adjusted close': '168.1972',
   '6. volume': '45069452',
   '7. dividend amount': '0.0000'},
  '2018-08-31': {'1. open': '210.9800',
   '2. high': '211.7200',
   '3. low': '197.1100',
   '4. close': '210.9200',
   '5. adjusted close': '168.3649',
   '6. volume': '39293212',
   '7. dividend amount': '1.3600'},
  '2018-07-31': {'1. open': '195.4600',
   '2. high': '212.7800',
   '3. low': '190.5700',
   '4. close': '212.3200',
   '5. adjusted close': '168.3531',
   '6. volume': '51354208',
   '7. dividend amount': '0.0000'},
  '2018-06-29': {'1. open': '198.7500',
   '2. high': '206.7900',
   '3. low': '193.6400',
   '4. close': '196.7200',
   '5. adjusted close': '155.9835',
   '6. volume': '53365495',
   '7. dividend amount': '0.0000'},
  '2018-05-31': {'1. open': '194.0300',
   '2. high': '206.0400',
   '3. low': '191.4400',
   '4. close': '197.2300',
   '5. adjusted close': '156.3879',
   '6. volume': '64993177',
   '7. dividend amount': '1.3600'},
  '2018-04-30': {'1. open': '218.0500',
   '2. high': '221.6900',
   '3. low': '194.1800',
   '4. close': '194.3900',
   '5. adjusted close': '153.0969',
   '6. volume': '67416279',
   '7. dividend amount': '0.0000'},
  '2018-03-29': {'1. open': '236.1500',
   '2. high': '243.1000',
   '3. low': '214.7300',
   '4. close': '219.5200',
   '5. adjusted close': '172.8886',
   '6. volume': '55656719',
   '7. dividend amount': '0.0000'},
  '2018-02-28': {'1. open': '247.4400',
   '2. high': '250.0900',
   '3. low': '218.1800',
   '4. close': '235.5100',
   '5. adjusted close': '185.4820',
   '6. volume': '58411251',
   '7. dividend amount': '1.3600'},
  '2018-01-31': {'1. open': '235.7800',
   '2. high': '259.7700',
   '3. low': '232.8100',
   '4. close': '250.5000',
   '5. adjusted close': '196.1519',
   '6. volume': '49095766',
   '7. dividend amount': '0.0000'},
  '2017-12-29': {'1. open': '243.1900',
   '2. high': '244.2300',
   '3. low': '234.2800',
   '4. close': '235.3700',
   '5. adjusted close': '184.3045',
   '6. volume': '38797016',
   '7. dividend amount': '0.0000'},
  '2017-11-30': {'1. open': '231.0000',
   '2. high': '243.4500',
   '3. low': '226.0400',
   '4. close': '243.1400',
   '5. adjusted close': '190.3887',
   '6. volume': '34440959',
   '7. dividend amount': '1.1750'},
  '2017-10-31': {'1. open': '210.7300',
   '2. high': '238.9000',
   '3. low': '210.0300',
   '4. close': '230.1900',
   '5. adjusted close': '179.3384',
   '6. volume': '44495469',
   '7. dividend amount': '0.0000'},
  '2017-09-29': {'1. open': '204.6100',
   '2. high': '214.6500',
   '3. low': '200.5100',
   '4. close': '209.9000',
   '5. adjusted close': '163.5307',
   '6. volume': '35124213',
   '7. dividend amount': '0.0000'},
  '2017-08-31': {'1. open': '202.2900',
   '2. high': '208.6300',
   '3. low': '201.3322',
   '4. close': '204.3200',
   '5. adjusted close': '159.1834',
   '6. volume': '34452050',
   '7. dividend amount': '1.1750'},
  '2017-07-31': {'1. open': '209.1400',
   '2. high': '213.4100',
   '3. low': '197.1700',
   '4. close': '201.1700',
   '5. adjusted close': '155.8258',
   '6. volume': '35060153',
   '7. dividend amount': '0.0000'},
  '2017-06-30': {'1. open': '204.2500',
   '2. high': '214.5700',
   '3. low': '203.6800',
   '4. close': '208.1900',
   '5. adjusted close': '161.2635',
   '6. volume': '39932867',
   '7. dividend amount': '0.0000'},
  '2017-05-31': {'1. open': '195.5000',
   '2. high': '204.4700',
   '3. low': '193.5400',
   '4. close': '204.4700',
   '5. adjusted close': '158.3820',
   '6. volume': '39540280',
   '7. dividend amount': '1.1750'},
  '2017-04-28': {'1. open': '191.8700',
   '2. high': '197.1200',
   '3. low': '188.6200',
   '4. close': '195.8300',
   '5. adjusted close': '150.7802',
   '6. volume': '34911411',
   '7. dividend amount': '0.0000'},
  '2017-03-31': {'1. open': '188.0800',
   '2. high': '193.5000',
   '3. low': '188.0100',
   '4. close': '191.3300',
   '5. adjusted close': '147.3154',
   '6. volume': '44761862',
   '7. dividend amount': '0.0000'},
  '2017-02-28': {'1. open': '175.1700',
   '2. high': '188.4100',
   '3. low': '173.5500',
   '4. close': '186.3500',
   '5. adjusted close': '143.4810',
   '6. volume': '38913842',
   '7. dividend amount': '1.1750'},
  '2017-01-31': {'1. open': '178.8300',
   '2. high': '180.0000',
   '3. low': '173.8100',
   '4. close': '174.8200',
   '5. adjusted close': '133.7386',
   '6. volume': '37981723',
   '7. dividend amount': '0.0000'},
  '2016-12-30': {'1. open': '171.6400',
   '2. high': '180.0600',
   '3. low': '171.0850',
   '4. close': '178.5700',
   '5. adjusted close': '136.6074',
   '6. volume': '38972940',
   '7. dividend amount': '0.0000'},
  '2016-11-30': {'1. open': '165.4000',
   '2. high': '175.5100',
   '3. low': '163.8500',
   '4. close': '171.7400',
   '5. adjusted close': '131.3824',
   '6. volume': '43846020',
   '7. dividend amount': '1.1100'},
  '2016-10-31': {'1. open': '175.3300',
   '2. high': '175.9500',
   '3. low': '165.1100',
   '4. close': '165.3000',
   '5. adjusted close': '125.6449',
   '6. volume': '41884304',
   '7. dividend amount': '0.0000'},
  '2016-09-30': {'1. open': '179.3100',
   '2. high': '181.6600',
   '3. low': '174.3850',
   '4. close': '176.2300',
   '5. adjusted close': '133.9529',
   '6. volume': '38163518',

SynchronousOnlyOperation: You cannot call this from an async context - use a thread or sync_to_async.

In [31]:
!pwd

/home/briedle/web-projects/finance/stock_visualizer_backend

In [3]:
from pysupport.utils import setup_django_env


setup_django_env('/home/briedle/web-projects/finance/stock_visualizer_backend')


from django.shortcuts import render
from django.http import JsonResponse
from stocks.models import BaseStockData  # Assuming you have a model for storing stock data

def get_symbols_data():
    symbols = (
        BaseStockData
        .objects
        .values_list('symbol', flat=True)
        .distinct()
    )
    return list(symbols)

get_symbols_data()

SynchronousOnlyOperation: You cannot call this from an async context - use a thread or sync_to_async.

In [4]:
get_symbols(2)

SynchronousOnlyOperation: You cannot call this from an async context - use a thread or sync_to_async.

In [4]:
eng = pu.create_db_engine()
eng

Engine(postgresql://briedle:***@localhost:5432/financial)

In [5]:
ts_data = pd.read_sql_table('stocks_monthlystockpricedata', eng)
ts_data

Empty DataFrame
Columns: [id, date, open, high, low, close, adj_close, volume, dividend, stock_id]
Index: []

In [7]:
# Okay this makes perfect sense!  My TS data is gone now.  I will need to fix this, but let's
# not worry about it for the moment
company

NameError: name 'ts_data' is not defined